#footer{
  height: auto;
  padding-bottom: 12px; 
  .resize{
    
  }
  .introbox{
    text-align: center;
    padding: 20px 50px;
    margin: 0 auto;
    background: #ececec;
    h1{
      text-transform: uppercase;
    }
  }
}
