.navbar {
  margin-bottom: 0;
}
.menu ul li a, .menu ul li a.ms_top{
  font-size: 15px;
  font-family: "Arial";
  span{
    font-family: "Arial";
    font-weight: normal;
  }
}

.menu ul li ul li a{
  font-size: 11px;
}
