.paging .page-numbers{
  &.prev, &.next{
    display: none;
  }
  &.current{
    color: #f38233;
  }
}

.clear{
  clear: both;
}
.homeLand{
  .margin-left-0{
    margin-left: 0;
  }
  .bigtitle{
    font-family: "HelveticaNeueLTStd-Md";
    font-size: 24px;
    color: #f38233;
    text-transform: uppercase;
  }
  
  .headerbox{
    .paging{
      .total-title{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #666;
        span{
          color: #f38233;
          font-family: 'Roboto', sans-serif;
          font-weight: 500;
          font-size: 16px;
        }
      }
      .paging-normal{
        padding-top: 10px;
        padding-bottom: 4px;
        a, span.current{
            padding: 3px 5px;
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 16px;
            background: #cdcdcd;
            border-radius: 5px;
          }
          
          a:hover{
            background: #f59b5c;
          }
          span.current{
            background: #f59b5c;
          }
      }
      ul{
        list-style-type: none;
        margin-left: 0;
        padding-top: 10px;
        li{
          display: inline-block;
          margin-right: 3px;
          a, span.current{
            padding: 3px 7px;
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 16px;
            background: #cdcdcd;
            border-radius: 5px;
          }
          &:hovver a{
            background: #f59b5c;
          }
          span.current{
            background: #f59b5c;
          }
        }
      }
    }
    .viewhomeland{
      .middle{
        margin: 28px auto 0;
          display: table;
      }
      a{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 13px;
        color: #fff;
        padding: 8px 11px;
          word-wrap: normal;
          display: inline-block;
        border-radius: 10px;
          line-height: 1;
          background: #cdcdcd;
        &.viewlist{
          margin-right: 4px;
          span{
            background: url(../images/homeland/list.png) no-repeat left center;
            padding-left: 27px;
            word-break: inherit;
            display: inline-block;
          }
        }
        &.viewmap{
          background: #cdcdcd;
          span{
            background: url(../images/homeland/map.png) no-repeat left center;
            padding-left: 31px;
            word-break: inherit;
            display: inline-block;
          }
        }
        &:hover, &.active{
          background: #f59b5c;
        }
      }
    }
    .orderbybox{
      .orderbyleft{
          padding-top: 10px;
      }
      label{
        color: #f38233;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
      }
      .select{
        width: 260px;
      }
    }
  }
  .headerbox .paging ul li a:hover{
    background: #f59b5c;
  }
  .landList{
    clear: both;
    padding-top: 20px;
    .item{
      border: 1px solid #dfdfdf;
      border-radius: 2px;
      background: #fff;
      margin-bottom: 20px;
      .pad{
        padding: 15px 17px 15px 15px;
      }
      .img-box{
        float: left;
        margin-right: 25px;
        width: 206px;
        img{
          width: 100%;
        }
      }
      .desc{
        float: left;
        width: 495px;
        padding-right: 120px;
        h3{
          color: #666;
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 18px;
          text-transform: uppercase;
          margin-bottom:15px; 
            margin-top: 0px;
        } 
        .pos{
          color: #666;
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 14px;
          background: url(../images/homeland/pos.png) no-repeat left center;
          padding-left: 15px;
          margin-bottom: 15px;
          display: inline-block;
        }
        .text{
          color: #666;
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 12px;
          a{
            color: #f59b5c;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 12px;
            text-decoration: underline;
          }
        }
      }
      .price{
        float: right;
        margin-top: 6px;
        width: 160px;
        .num{
          color: #fff;
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 24px;
          background: #f59b5c;
          text-align: center;
          padding: 6px 0;
          border-radius: 5px;
        }
        ul{
          list-style-type: none;
          background: #efefef;
          border: 1px solid #dfdfdf;
          border-radius: 5px;
          margin-left: 0;
          margin-top: 5px;
          padding: 8px 7px 2px;
          li{
            label{
              font-family: 'Roboto', sans-serif;
              font-weight: 400;
              font-size: 14px;
              color: #666;
              display: inline-block;
            }
            span{
              font-family: 'Roboto', sans-serif;
              font-weight: 400;
              font-size: 14px;
              color: #666;
              float:right;
              i{
                display: inline-block;
                  margin-top: 4px;
              }
              span{
                width: 25px;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 18px;
                color: #f59b5c;
                  text-align: right;
              }
            }
            &.bed{
              i{
                background: url(../images/homeland/bed.png) no-repeat;
                width: 18px;
                height: 9px;
              }
            }
            &.bath{
              i{
                background: url(../images/homeland/bath.png) no-repeat;
                width: 18px;
                height: 9px;
              }
            }
            &.car{
              i{
                background: url(../images/homeland/car.png) no-repeat;
                width: 18px;
                height: 14px;
              }
            }
          }
        }
      }
    }
  }
}

.homelandSingle{
  .container {
    width: 1040px;
  }
  .bgWhite{
    background: #fff;
  }
  h3.land-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #666;
    text-transform: uppercase;
  }
  .property-id{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #666;
    text-transform: uppercase;
    margin-bottom: 30px;
    span{
      font-weight: 700px;
      color: #f38233;
    }
  }
  .landcontent{
    padding: 20px 20px 40px 20px;
  }
  .post_content{
      h3{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #666;
      }
      p{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #666;
      }
  }
  .pricebox{
    width: 160px;
    margin-bottom: 25px;
    ul{
        list-style-type: none;
        background: #efefef;
        border: 1px solid #dfdfdf;
        border-radius: 5px;
        margin-left: 0;
        margin-top: 5px;
        padding: 8px 7px 2px;
      li{
        &.bed{
          i{
              background: url(../images/homeland/bed.png) no-repeat;
              width: 18px;
              height: 9px;
          }
        }
        &.bath {
          i{
            
            background: url(../images/homeland/bath.png) no-repeat;
            width: 18px;
            height: 9px;
          }
        }
        &.car {
          i{
              background: url(../images/homeland/car.png) no-repeat;
              width: 18px;
              height: 14px;
              margin-top: 3px;
          }
        }
      }
      label{
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 14px;
          color: #666;
          display: inline-block;
      }
      span{
          font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #666;
        float: right;
        i{
            display: inline-block;
            margin-top: 4px;
        }
        span{
            width: 25px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 18px;
            color: #f59b5c;
            text-align: right;
        }
      }
    }
  }
  .left50{
    width: 505px;
    float: left;
    padding-right: 15px;
    .land-detail{
      padding-top: 18px;
      p{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #666;
        label{
          font-weight: 700;
          float: left;
          width: 120px;
        }
        span{
          display: inline-block;
          margin-top: 2px;
          &.orange{
            color: #f38233;
          }
        }
      }
    }
    
  }
  .right50{
    width: 480px;
    float: left;
    .big{
      width: 479px;
      img{
        width: 100%;
      }
    }
    ul{
      list-style-type: none;
      margin-top: 20px;
      margin-left: 0;
        width: 103%;
      li{
          width: 147px;
          margin-right: 15px;
          display: inline-block;
          margin-bottom: 18px;
        img{
          width: 100%;
        }
      }
    }
  }
  .box-map{
   border-top: 1px solid #ccc;
   padding-top: 30px;
   margin-top: 20px;
   .acf-map{
     margin-top: 0;
   } 
  }
  .agent-contact{
     border-top: 1px solid #ccc;
     padding-top: 30px;
     margin-top: 30px;
     h4{
       font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: #666;
     }
     p{
       font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #666;
     }
     .agent-left{
       width: 352px;
       margin-left: 52px;
       float: left;
       p{
         margin-top: 17px;
       }
     }
     .agent-right{
       width: 282px;
       float: left;
       .make-contact{
         background: #d2d2d2;
         padding: 15px 15px 7px 15px;
         form{
           margin-bottom: 0;
         }
         input[type="text"]{
           width: 210px;
           font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: #666;
         }
         textarea{
             font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: #666;
            width: 225px;
            height: 100px;
            resize: none;
         }
         input[type="submit"]{
           border-radius: 5px;
             margin: 0 auto;
            display: table;
         }
       }
     }
  }
}


.homelandTab{
  &.active{
    display: block;
  opacity: 1;
  }
}
