.paging .page-numbers{
  &.prev, &.next{
    display: none;
  }
  &.current{
    color: #f38233;
  }
}

.clear{
  clear: both;
}
.homeLand{
  .margin-left-0{
    margin-left: 0;
  }
  .bigtitle{
    font-family: "HelveticaNeueLTStd-Md";
    font-size: 24px;
    color: #f38233;
    text-transform: uppercase;
  }
  
  .headerbox{
    .paging{
      .total-title{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #666;
        span{
          color: #f38233;
          font-family: 'Roboto', sans-serif;
          font-weight: 500;
          font-size: 16px;
        }
      }
      .paging-normal{
        padding-top: 10px;
        a, span.current{
            padding: 3px 5px;
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 16px;
            background: #cdcdcd;
            border-radius: 5px;
          }
          a:hover{
            background: #f59b5c;
          }
          span.current{
            background: #f59b5c;
          }
      }
      ul{
        list-style-type: none;
        margin-left: 0;
        padding-top: 10px;
        li{
          display: inline-block;
          margin-right: 3px;
          a, span.current{
            padding: 3px 5px;
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 16px;
            background: #cdcdcd;
            border-radius: 5px;
          }
          &:hovver a{
            background: #f59b5c;
          }
          span.current{
            background: #f59b5c;
          }
        }
      }
    }
    .viewhomeland{
      .middle{
        margin: 28px auto 0;
          display: table;
      }
      a{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 13px;
        color: #fff;
        padding: 8px 11px;
          word-wrap: normal;
          display: inline-block;
        border-radius: 10px;
          line-height: 1;
        &.viewlist{
          margin-right: 4px;
          span{
            background: url(../images/homeland/list.png) no-repeat left center;
            padding-left: 27px;
            word-break: inherit;
            display: inline-block;
          }
        }
        &.viewmap{
          background: #cdcdcd;
          span{
            background: url(../images/homeland/map.png) no-repeat left center;
            padding-left: 31px;
            word-break: inherit;
            display: inline-block;
          }
        }
        &:hover, &.active{
          background: #f59b5c;
        }
      }
    }
    .orderbybox{
      .orderbyleft{
          padding-top: 10px;
      }
      label{
        color: #f38233;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
      }
      .select{
        width: 260px;
      }
    }
  }
  .headerbox .paging ul li a:hover{
    background: #f59b5c;
  }
  .landList{
    clear: both;
    padding-top: 20px;
    .item{
      border: 1px solid #dfdfdf;
      border-radius: 2px;
      background: #fff;
      margin-bottom: 20px;
      .pad{
        padding: 15px 17px 15px 15px;
      }
      img{
        float: left;
        margin-right: 25px;
      }
      .desc{
        float: left;
        width: 495px;
        padding-right: 120px;
        h3{
          color: #666;
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 18px;
          text-transform: uppercase;
          margin-bottom:15px; 
        } 
        .pos{
          color: #666;
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 14px;
          background: url(../images/homeland/pos.png) no-repeat left center;
          padding-left: 15px;
          margin-bottom: 15px;
          display: inline-block;
        }
        .text{
          color: #666;
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 12px;
          a{
            color: #f59b5c;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 12px;
            text-decoration: underline;
          }
        }
      }
      .price{
        float: right;
        margin-top: 6px;
        width: 160px;
        .num{
          color: #fff;
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 24px;
          background: #f59b5c;
          text-align: center;
          padding: 6px 0;
          border-radius: 5px;
        }
        ul{
          list-style-type: none;
          background: #efefef;
          border: 1px solid #dfdfdf;
          border-radius: 5px;
          margin-left: 0;
          margin-top: 5px;
          padding: 8px 7px 2px;
          li{
            label{
              font-family: 'Roboto', sans-serif;
              font-weight: 400;
              font-size: 14px;
              color: #666;
              display: inline-block;
            }
            span{
              font-family: 'Roboto', sans-serif;
              font-weight: 400;
              font-size: 14px;
              color: #666;
              float:right;
              i{
                display: inline-block;
                  margin-top: 4px;
              }
              span{
                width: 25px;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 18px;
                color: #f59b5c;
                  text-align: right;
              }
            }
            &.bed{
              i{
                background: url(../images/homeland/bed.png) no-repeat;
                width: 18px;
                height: 9px;
              }
            }
            &.bath{
              i{
                background: url(../images/homeland/bath.png) no-repeat;
                width: 18px;
                height: 9px;
              }
            }
            &.car{
              i{
                background: url(../images/homeland/car.png) no-repeat;
                width: 18px;
                height: 14px;
              }
            }
          }
        }
      }
    }
  }
}
