.testimonialsPage{

}

#gallery.gallery3 {
  .span3 {
    @include setShadowBoxSmall();
    background: #fff;
    margin-bottom: 30px;

    p, h3{
      text-align: center;
      text-transform: uppercase;
      padding: 10px;
    }

    h3 {
      @include Roboto_regular(16px);
    }

    p {
      @include Roboto_regular(13px);
      padding: 10px 30px;
      background: url(../images/pages/testimonials/bg_quotes.png) no-repeat top center;
      min-height:  105px;
    }
  }
  a.zoom {
    background: url(../images/pages/testimonials/play.png) no-repeat center;
  }
}