.contactPage{
  &#content{
    padding-bottom: 30px;  
  }
  
  .pad40{
    padding-top: 40px;
  }
	.padtop23{
	  padding-top: 26px;
	  clear: both;
	}
	.container{
	  width: 1045px;
	}
	.span8{
	  width: 740px;
	  margin-left: 0;
	  border-right: 1px solid #dadada;
	  margin-right: 34px;
	}
	
	.span4{
	  float: left;
	  width: 220px;
	  margin-left: 0;
	  min-height: 400px;
	  background: #fff;
	  margin-right: 23px;
	  position: relative;
	  img{
	    width: 100%;
	  }
	}
	.desc{
	  text-align: justify;
	  padding: 12px 13px 0 13px;
	  min-height: 155px;
	  p{
	    font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 15.5px;
      margin-bottom: 10px;
      margin-top: 0;
      letter-spacing: -0.24px;
	  }
	}
	h3{
	  background: #f59b5c;
	  color: #fff;
	  text-align: center;
	  font-family: 'Roboto', sans-serif;
	  font-weight: 500;
	  padding: 8px 0;
	  margin: 0;
	}
	a.link{
	  font-family: 'Roboto Condensed', sans-serif;
	  font-size: 12px;
	  font-weight: 400;
	  background: url(../images/mail.png) no-repeat left center;
	  color: #f38233;
	  position: absolute;
	  left: 14px;
	  bottom: 12px;
	  padding-left: 27px;
	  letter-spacing: -0.6px;
	}
	.rightContact{
	  background: transparent;
	  h2{
	    font-family: "Helvetica-Condensed-Black";
	    font-size: 34px;
	    color: #f38233;
	    padding-bottom: 30px;
	    margin: 0;
	  }
	  
	  form{
	    p{
	      margin-top: 0;
	      margin-bottom: 6px;
	    }
	  }
	  .partiBox{
	    h4{
	      color: #f38233;
	      font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        margin-top: 30px;
        margin-bottom: 15px;
	      span{
	        font-size: 10px;
	        font-style: italic;
	        color: #666;
	      }
	    }
	    ul{
	      list-style-type: none;
	      margin: 0;
	      li{
	        padding-bottom: 6px;
	        label{
	          font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 12px;
            padding-left: 28px;
              line-height: 24px;
	        }
	      }
	    }
	    .selectGroup{
	      padding-top: 28px;
	      padding-bottom: 28px;
	      select{
	         width: 260px;
	         margin-bottom: 6px;
	      }
	    }
	  }
	}
}
