.content_detail_new {
  line-height: 1.3;
  h1, h2, h3 {
    color: #f38233;
    @include Roboto_bold(24px);
    padding-top: 40px;
  }

  h3 {
    padding-top: 0;
  }

  p {
    font-size: 16px;

    strong {
      color: #f38233;
      font-weight: 700;
    }

    &.downloadpdf {
      @include Roboto_italic(40px);

      a {
        float: left;
      }

      span {
        display: block;
        float: left;
        padding-top: 65px;
        padding-left: 10px;
      }

      strong {
        color: #444;
      }
    }

    img.floatleft {
      float: left;
      padding: 0 10px 10px 0;
    }

    &.imagedetail {
      img {
        padding: 5px 0;
      }
    }
  }

  ul {
    padding: 0;

    li {
      padding: 0;
    }
  }

  #dnn_ctr613_HtmlModule_lblContent {
    h1 {
      color: #444;
      @include Roboto_bold(18px);
    }
  }
}