.row-history {
  margin-top: 55px;

  .one_half_pad {
    .imghistor {
      text-align: center;
    }

    h2 {
      color: #b2b2b2;
    }

    h2, h4 {
      font-style: italic;

    }

    p{
      font-size: 15px;
    }
  }
}