#main-carousel {
  padding-top:  0;
  height: auto;
  .carousel-inner {

    .item {
      .bgimg {
        width: 100%;
        height: 600px;
        overflow: hidden;
        position: relative;

        img {
          min-height: 600px;
          max-width: none;
          position: absolute;
          bottom: 0;
          left: 0;
          width: auto;
        }
      }

    }


  }

  .lookingfor {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;

    ul {
      list-style: none;

      li {
          background: #fff;
          width: 195px;
          color: #010101;
          opacity: 0.6;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 15px;
          line-height: 1.2;
          font-weight: normal;
          padding: 19px 0 19px 14px;
          margin-bottom: 5px;
          text-transform: uppercase;
          ul.submenu{
            margin: 0;
            left: 0;
            top: auto;
            margin-top: 15px;
            position: absolute;
            li{
              opacity: 1;
            }
          }
        i{
          display: inline-block;  
          img{
            min-width: 55px;
            height: auto;
          }
        }
        span{
            display: inline-block;
            padding-left: 18px;
            vertical-align: middle;
            position: relative;
            top: 1px;
        }
        &.firstchild {
            background: #fff url("../images/pages/home/arrow_down.png") 20px 15px no-repeat;
            padding: 10px 0 10px 55px;
            width: 154px; 
            position: relative;
        }
        
        &.icon1 {
          
        }

        &.icon2 {
          
        }

        &.icon3 {
          
        }

        &.icon4 {
          
        }

        &.icon5 {
          
        }
      }
    }
  }

  .search-slider {
    position: absolute;
    display: block;
    top: 510px;
    left: 0;
    width: 100%;

    ul {
      width: 100%;
      list-style: none;
      display: table;
      margin: 0;

      li {
        display: table-cell;
        height: 44px;
        text-align: center;
        line-height: 35px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: #fff;
        text-transform: uppercase;

        &.prev, &.next {
          position: relative;
          width: 24px;

          padding: 5px 15px;

          background: rgba(0, 0, 0, 0.4);

          img {
            width: 100% !important;
            height: 100% !important;
            min-width: 0;
            min-height: 0;
          }
        }

        &.prev {
          cursor: pointer;
          background: rgba(0, 0, 0, 0.4) url("../images/pages/home/ico-arrow-pre.png") 10px 5px no-repeat;
        }

        &.next {
          cursor: pointer;
          background: rgba(0, 0, 0, 0.4) url("../images/pages/home/ico-arrow-next.png") 15px 5px no-repeat;
        }

        &.title {
          text-align: left;
          padding-left: 10px;
        }

        &.line {
          width: 1px;
          div {
            width: 1px;
            height: 30px;
            position: absolute;
            background: #fff;
            top: 15px;
          }
        }

        &.button {
          width: 140px;

          a {
            height: 20px;
            line-height: 20px;
            width: 70px;
            margin-top: 10px;
          }
        }

        &.selectbox {
          width: 140px;
          text-align: left;

          margin-left: 5px;
          margin-right: 5px;

        }

        form {
          padding: 0;
          margin: 0;
        }

      }
    }

    .search-detail {
      margin: 0 5px;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
    }
  }
}

.resize.fullscreen {
  width: 100%;

  .now_page {
    background: #b2b2b2;
    height: auto;

    .container {
      width: 90%;
      .content_box {
        padding: 30px 50px;

        h1 {
          @include Arial(32px);
          font-weight: bold;
          font-style: italic;
          text-transform: none;
          color: #fff;
        }

        p {
          @include Arial(18px, 1.2);
          font-style: italic;
          text-transform: none;
          color: #444;

          span {
            font-size: 44px;
            line-height: 0;
            bottom: -17px;
            position: relative;
          }
        }
      }
    }

  }
}

select.selecthome{
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  background-color: #fff; /* fallback color if gradients are not supported */
  background: transparent url(../images/pages/home/select.png) center right no-repeat;

  border: 0;

  color: #fff;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 33px;
  width: 130px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  outline: none;

  option {
    color: #000;
  }
}