#main-carousel {
  padding-top:  0;
  height: auto;
  .carousel-inner {

    .item {
      img {
        height: auto;
        max-height: auto;
      }
    }


  }
}

.resize.fullscreen {
  width: 100%;

  .now_page {
    background: #b2b2b2;
    height: auto;

    .container {
      width: 90%;
      .content_box {
        padding: 30px 50px;

        h1 {
          @include Arial(32px);
          font-weight: bold;
          font-style: italic;
          text-transform: none;
          color: #fff;
        }

        p {
          @include Arial(18px, 1.2);
          font-style: italic;
          text-transform: none;
          color: #444;

          span {
            font-size: 44px;
            line-height: 0;
            bottom: -17px;
            position: relative;
          }
        }
      }
    }

  }
}