body, p {
  color: #444;
}

h1,h2,h3,h4,h5{
  color:#333333;
  line-height:1.2em;
  font-weight:normal;
  font-family: Arial;
}

h1{ font-size: 32px; }
h2{ font-size: 24px; }
h3,h4,h5{ font-size:20px;}