/*color*/
$color_main:#f38233;

/*font*/
@mixin Arial( $value, $line:1.2  ) {
  font-family: Arial, Helvetica, sans-serif;
  font-size:$value;
  line-height:$line;
  font-weight:normal;
}

@mixin Roboto_regular( $value, $line:1.2 ) {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}


/*function*/
@mixin objAbsoluteLeft() {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin setOpacity ($value) {
  opacity: $value;
  filter: alpha(opacity=$value*100);
}

@function em($size) {
  @return #{$size / 13px}em;
}

@mixin setShadowBoxSmall () {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
}


