@media only screen and (min-width: 768px) and (max-width: 1275px) {
  #main-carousel .lookingfor ul li{
    padding: 16px 0 16px 14px;
  }
  .resize.fullscreen .now_page .container .content_box{
    padding: 25px 20px;
  }
  .resize.fullscreen .now_page .container{
    width: 95%;
  }
  #main-carousel .search-slider{

  }

  #main-carousel .search-slider ul li.title {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  #main-carousel .search-slider {
    display: none;
  }

  .row-promotion.row, .promotionPage .row{
    display: block !important;

    .span4 {
      display: block !important;
      margin: 0px;
      margin-bottom: 20px;
      width: 100%;
      float: none;
      overflow: hidden;
    }
  }

  .gallery-testimonials {
    .span3 {
      width: 100%;
    }
  }

}