/*color*/
/*font*/
/*function*/
.btn-homepage-menu, .btn-homepage-menu:visited {
  text-transform: uppercase;
  background-color: #b2b2b2;
  color: #444;
  font-size: 14px;
  padding: 8px 14px 9px;
  margin: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline-block;
  moz-border-radius: 5px;
  moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  padding: 8px 10px 6px;
  position: relative;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
  webkit-border-radius: 5px;
  webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }

.btn-homepage-menu:hover, .btn-homepage-menu.active {
  background-color: #444;
  color: #fff; }

body, p {
  color: #444; }

h1, h2, h3, h4, h5 {
  color: #333333;
  line-height: 1.2em;
  font-weight: normal;
  font-family: Arial; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 24px; }

h3, h4, h5 {
  font-size: 20px; }

.navbar {
  margin-bottom: 0; }

#main-carousel {
  padding-top: 0;
  height: auto; }
  #main-carousel .carousel-inner .item img {
    height: auto;
    max-height: auto; }

.resize.fullscreen {
  width: 100%; }
  .resize.fullscreen .now_page {
    background: #b2b2b2;
    height: auto; }
    .resize.fullscreen .now_page .container {
      width: 90%; }
      .resize.fullscreen .now_page .container .content_box {
        padding: 30px 50px; }
        .resize.fullscreen .now_page .container .content_box h1 {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 32px;
          line-height: 1.1;
          font-weight: normal;
          font-weight: bold;
          font-style: italic;
          text-transform: none;
          color: #fff; }
        .resize.fullscreen .now_page .container .content_box p {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 18px;
          line-height: 1.2;
          font-weight: normal;
          font-style: italic;
          text-transform: none;
          color: #444; }
          .resize.fullscreen .now_page .container .content_box p span {
            font-size: 44px;
            line-height: 0;
            bottom: -17px;
            position: relative; }

.row-history {
  margin-top: 55px; }
  .row-history .one_half_pad .imghistor {
    text-align: center; }
  .row-history .one_half_pad h2 {
    color: #b2b2b2; }
  .row-history .one_half_pad h2, .row-history .one_half_pad h4 {
    font-style: italic; }
  .row-history .one_half_pad p {
    font-size: 15px; }

.row-slider {
  background: #ececec; }
  .row-slider .resize {
    background: #ececec; }

#gallery.sliderStyle1 {
  padding-bottom: 70px; }
  #gallery.sliderStyle1 .submenu {
    margin: 15px; }
  #gallery.sliderStyle1 .item {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px; }
    #gallery.sliderStyle1 .item:hover .item-caption p {
      color: #444; }
    #gallery.sliderStyle1 .item .item-caption {
      height: auto;
      background: #fff;
      font-size: 12px;
      position: relative;
      padding: 10px; }
      #gallery.sliderStyle1 .item .item-caption ul {
        list-style: none;
        position: absolute;
        top: 10px;
        right: 0; }
        #gallery.sliderStyle1 .item .item-caption ul li {
          float: left;
          width: 30px;
          height: 20px;
          text-align: right;
          background: url("../images/pages/home/ico-homedesign.png") no-repeat; }
          #gallery.sliderStyle1 .item .item-caption ul li.icon1 {
            background-position: 0 0;
            width: 32px; }
          #gallery.sliderStyle1 .item .item-caption ul li.icon2 {
            background-position: 0 -20px;
            width: 32px;
            margin-left: 5px; }
          #gallery.sliderStyle1 .item .item-caption ul li.icon3 {
            background-position: 0 -40px;
            width: 32px;
            margin-left: 5px;
            margin-top: -2px; }
          #gallery.sliderStyle1 .item .item-caption ul li.icon4 {
            background-position: 0 -60px;
            width: 26px; }
    #gallery.sliderStyle1 .item a.zoom {
      background: #f38233 url(../images/zoom.png) center center no-repeat; }
  #gallery.sliderStyle1 .jcarousel-skin-tango .jcarousel-prev-horizontal {
    top: 70px;
    left: -50px;
    width: 24px;
    height: 44px;
    background: url(../images/pages/home/ico-arrow.png) 0 0 no-repeat; }
  #gallery.sliderStyle1 .jcarousel-skin-tango .jcarousel-next-horizontal {
    top: 70px;
    right: -50px;
    width: 24px;
    height: 44px;
    background: url(../images/pages/home/ico-arrow.png) 0 -44px no-repeat; }

@media only screen and (min-width: 768px) and (max-width: 1090px) {
  #footer .container {
    width: 92%; }

  #footer {
    padding-bottom: 10px; }

  #footer, .cols {
    height: auto; }

  #footer .cols .span2.col6 {
    height: auto;
    min-height: inherit;
    padding-bottom: 30px; } }
@media only screen and (min-width: 0) and (max-width: 768px) {
  #footer .container {
    width: 92%; }

  #footer {
    padding-bottom: 10px; }

  #footer, .cols {
    height: auto; }

  #footer .cols .span2.col6 {
    height: auto;
    min-height: inherit;
    padding-bottom: 30px; }

  #footer .cols .span2 {
    width: 100% !important;
    min-height: inherit;
    padding-bottom: 20px;
    margin-left: 0;
    background: transparent; }
    #footer .cols .span2.col1 {
      margin-left: 0; } }

/*@ sourceMappingURL=custom.css.map */