@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=620d89bd-dea0-40b4-b6fd-a544b97a0221");
@font-face {
  font-family: "HelveticaNeueW01-55Roma";
  src: url("../fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix");
  src: url("../fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix") format("eot"), url("../fonts/b0868b4c-234e-47d3-bc59-41ab9de3c0db.woff2") format("woff2"), url("../fonts/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff") format("woff"), url("../fonts/b0ffdcf0-26da-47fd-8485-20e4a40d4b7d.ttf") format("truetype"), url("../fonts/da09f1f1-062a-45af-86e1-2bbdb3dd94f9.svg#da09f1f1-062a-45af-86e1-2bbdb3dd94f9") format("svg"); }

@font-face {
  font-family: "HelveticaNeueW01-56It";
  src: url("../fonts/58a5cbff-d570-4c18-a5e3-60868dc07ae8.eot?#iefix");
  src: url("../fonts/58a5cbff-d570-4c18-a5e3-60868dc07ae8.eot?#iefix") format("eot"), url("../fonts/462d508d-efc7-478f-b84e-288eeb69a160.woff2") format("woff2"), url("../fonts/2c056da8-4920-4e20-8c69-8a6b315458a9.woff") format("woff"), url("../fonts/2381d918-136d-444f-8391-db0cba6da388.ttf") format("truetype"), url("../fonts/d0697971-6f58-4597-942e-8beabd1adc87.svg#d0697971-6f58-4597-942e-8beabd1adc87") format("svg"); }

@font-face {
  font-family: "HelveticaNeueW01-65Medi";
  src: url("../fonts/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?#iefix");
  src: url("../fonts/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?#iefix") format("eot"), url("../fonts/3600b37f-2bf1-45f3-be3a-03365f16d9cb.woff2") format("woff2"), url("../fonts/60be5c39-863e-40cb-9434-6ebafb62ab2b.woff") format("woff"), url("../fonts/4c6503c9-859b-4d3b-a1d5-2d42e1222415.ttf") format("truetype"), url("../fonts/36c182c6-ef98-4021-9b0d-d63122c2bbf5.svg#36c182c6-ef98-4021-9b0d-d63122c2bbf5") format("svg"); }

@font-face {
  font-family: "HelveticaNeueW01-66Medi";
  src: url("../fonts/71c74bc5-e7c8-48ad-9b03-43f3e6760e4e.eot?#iefix");
  src: url("../fonts/71c74bc5-e7c8-48ad-9b03-43f3e6760e4e.eot?#iefix") format("eot"), url("../fonts/9a31d352-a4be-4540-a6f2-f4ea3ea77d94.woff2") format("woff2"), url("../fonts/5f0efe11-b07a-49fc-ab86-7af6152fa368.woff") format("woff"), url("../fonts/fea58e5b-b0a7-43f7-8928-fc0639365852.ttf") format("truetype"), url("../fonts/398e1bb8-f2eb-41d5-b3b6-b9a889b52ee7.svg#398e1bb8-f2eb-41d5-b3b6-b9a889b52ee7") format("svg"); }

/*color*/
/*font*/
/*function*/
.btn-homepage-menu, .btn-homepage-menu:visited {
  text-transform: uppercase;
  background-color: #b2b2b2;
  color: #444;
  font-size: 14px;
  padding: 8px 14px 9px;
  margin: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline-block;
  moz-border-radius: 5px;
  moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  padding: 8px 10px 6px;
  position: relative;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
  webkit-border-radius: 5px;
  webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }

.btn-homepage-menu:hover, .btn-homepage-menu.active {
  background-color: #444;
  color: #fff; }

.btn-color-watch {
  background: #f38233;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  line-height: 25px;
  font-weight: 400;
  font-size: 14px;
  border: none;
  margin: 10px;
  padding: 10px;
  border-radius: 2px;
  text-transform: uppercase;
  display: block;
  text-align: center; }
  .btn-color-watch:hover {
    color: #fff;
    opacity: 0.8; }
  .btn-color-watch img {
    vertical-align: middle;
    padding-right: 5px;
    position: relative;
    top: -2px; }

.btn-showmore {
  color: #fff;
  line-height: 25px;
  font-weight: bold;
  font-size: 15px;
  border: none;
  margin: 10px;
  padding: 10px 20px 20px 20px;
  border-radius: 2px;
  text-transform: uppercase;
  text-align: center;
  background: #b2b2b2 url(../images/pages/testimonials/arrow-down.png) no-repeat center 30px; }
  .btn-showmore:hover {
    color: #fff;
    opacity: 0.8; }
  .btn-showmore img {
    vertical-align: middle;
    padding-right: 5px;
    position: relative;
    top: -2px; }

body, p {
  color: #444;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2; }

#content {
  padding: 0; }

a:hover {
  color: #f38233; }

.bold {
  font-weight: bold; }

.pad-left-5 {
  padding-left: 5px; }

a.zoom {
  background: #f38233 url(../images/zoom.png) center center no-repeat; }

h1, h2, h3, h4, h5 {
  color: #333333;
  line-height: 1.2em;
  font-weight: normal;
  font-family: Arial; }

h1 {
  font-family: "HelveticaNeueW01-65Medi";
  font-weight: normal;
  line-height: 1.2; }

h2 {
  font-size: 24px; }

h3, h4, h5 {
  font-size: 20px; }

.bgGray {
  background: #efefef; }

.marginleft0 {
  margin-left: 0; }

.extrabold {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase; }

.copyright {
  padding-top: 30px; }

.loadingfull {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: #fff;
  display: none; }
  .loadingfull img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px; }

select.select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 15px;
  -moz-padding-start: 15px;
  background-color: #fff;
  /* fallback color if gradients are not supported */
  background-image: url(../images/select-arrow.png), -webkit-linear-gradient(top, white, white);
  /* For Chrome and Safari */
  background-image: url(../images/select-arrow.png), -moz-linear-gradient(top, white, white);
  /* For old Fx (3.6 to 15) */
  background-image: url(../images/select-arrow.png), -ms-linear-gradient(top, white, white);
  /* For pre-releases of IE 10*/
  background-image: url(../images/select-arrow.png), -o-linear-gradient(top, white, white);
  /* For old Opera (11.1 to 12.0) */
  background-image: url(../images/select-arrow.png), linear-gradient(to bottom, white, white);
  /* Standard syntax; must be last */
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #666;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 36px;
  width: 145px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  outline: none; }
  select.select.error {
    border: 1px solid red; }

input[type="text"] {
  height: 36px;
  width: 216px;
  line-height: 36px;
  padding: 0 20px;
  border: 1px solid #dfdfdf;
  color: #666;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0; }
  input[type="text"]::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #666; }
  input[type="text"]:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #666; }
  input[type="text"]::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #666; }
  input[type="text"]:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #666; }
  input[type="text"].error {
    border: 1px solid red; }

textarea {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #666;
  padding-left: 20px; }
  textarea::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #666; }
  textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #666; }
  textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #666; }
  textarea:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #666; }
  textarea.error {
    border: 1px solid red; }

input[type="submit"] {
  background: #f38233;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  border: none;
  width: 106px;
  height: 36px;
  border-radius: 2px;
  text-transform: uppercase; }

/*-------------------------
CHECKBOX FOR GRID
-------------------------*/
.checkboxStyle label {
  margin-bottom: 0px;
  background-image: url(../images/checkbox.png);
  user-select: none; }

.checkboxStyle input[type=checkbox] + label {
  padding-left: 20px;
  height: 24px;
  display: inline-block;
  line-height: 17px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer; }

.checkboxStyle input[type=checkbox]:checked + label {
  background-position: 0 -24px; }

.checkboxStyle input[type=checkbox] {
  margin-top: 0px;
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.checkboxStyle.error label {
  background: url(../images/checkbox-error.png) no-repeat; }

/*-------------------------
CHECKBOX FOR GRID
-------------------------*/
.radioStyle label {
  margin-bottom: 0px;
  background-image: url(../images/radio.png);
  user-select: none; }

.radioStyle input[type=radio] + label {
  padding-left: 20px;
  height: 23px;
  display: inline-block;
  line-height: 17px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer; }

.radioStyle input[type=radio]:checked + label {
  background-position: 0 -23px; }

.radioStyle input[type=radio] {
  margin-top: 0px;
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

label[generated="true"] {
  display: none !important; }

#footer {
  height: auto;
  padding-bottom: 12px; }

.condition {
  background: #efefef; }
  .condition .introbox {
    text-align: left;
    padding: 20px 50px;
    margin: 0 auto;
    background: #efefef;
    clear: both; }
    .condition .introbox h5 {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 14px;
      color: #666; }
    .condition .introbox p {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #666;
      padding-top: 12px; }

.navbar {
  margin-bottom: 0; }

.menu ul li a, .menu ul li a.ms_top {
  font-size: 15px;
  font-family: "Arial";
  font-weight: normal;
  color: #222; }
  .menu ul li a:hover, .menu ul li a.ms_top:hover {
    color: #222; }
  .menu ul li a span, .menu ul li a.ms_top span {
    font-family: "Arial";
    font-weight: normal; }

.menu ul li.current-menu-parent a.ms_top, .menu ul li.current_page_parent a.ms_top, .menu ul li.current-menu-item a.ms_top, .menu ul li.current_page_item a.ms_top {
  font-weight: bold; }

ul.menusm li {
  padding: 0;
  float: left;
  font-weight: normal;
  height: 45px; }

ul.menusm li ul li {
  height: auto; }

.menu ul li ul li a {
  height: auto;
  padding: 9px 10px 7px 10px;
  text-align: left;
  width: 170px; }

.menu ul li a {
  padding: 14px 15px;
  display: block;
  margin: 0;
  color: #222;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  height: 45px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.menu ul.menusm {
  width: 100%; }

.menu ul li.menu-item-home a, .menu ul li.ms_home a {
  text-indent: -9999px;
  background: url(../images/i-home.png) no-repeat center; }

.menu ul li ul li a {
  font-size: 11px; }

.menu ul li.ms_home a {
  padding-top: 14px; }

#main-carousel {
  padding-top: 0;
  height: auto; }
  #main-carousel .carousel-inner .item img {
    height: auto;
    max-height: auto; }
  #main-carousel .lookingfor {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10; }
    #main-carousel .lookingfor ul {
      list-style: none; }
      #main-carousel .lookingfor ul li {
        background: #fff;
        width: 195px;
        color: #010101;
        opacity: 0.6;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        line-height: 1.2;
        font-weight: normal;
        padding: 19px 0 19px 14px;
        margin-bottom: 5px;
        text-transform: uppercase; }
        #main-carousel .lookingfor ul li ul.submenu {
          margin: 0;
          left: 0;
          top: auto;
          margin-top: 15px;
          position: absolute; }
          #main-carousel .lookingfor ul li ul.submenu li {
            opacity: 1; }
        #main-carousel .lookingfor ul li i {
          display: inline-block; }
          #main-carousel .lookingfor ul li i img {
            min-width: 55px;
            height: auto; }
        #main-carousel .lookingfor ul li span {
          display: inline-block;
          padding-left: 18px;
          vertical-align: middle;
          position: relative;
          top: 1px; }
        #main-carousel .lookingfor ul li.firstchild {
          background: white url("../images/pages/home/arrow_down.png") 20px 15px no-repeat;
          padding: 10px 0 10px 55px;
          width: 154px;
          position: relative; }
  #main-carousel .search-slider {
    position: absolute;
    display: block;
    bottom: 240px;
    left: 0;
    width: 100%; }
    #main-carousel .search-slider ul {
      width: 100%;
      list-style: none;
      display: table;
      margin: 0; }
      #main-carousel .search-slider ul li {
        display: table-cell;
        height: 44px;
        text-align: center;
        line-height: 35px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: #fff;
        text-transform: uppercase; }
        #main-carousel .search-slider ul li.prev, #main-carousel .search-slider ul li.next {
          position: relative;
          width: 24px;
          padding: 5px 15px;
          background: rgba(0, 0, 0, 0.4); }
          #main-carousel .search-slider ul li.prev img, #main-carousel .search-slider ul li.next img {
            width: 100% !important;
            height: 100% !important;
            min-width: 0;
            min-height: 0; }
        #main-carousel .search-slider ul li.prev {
          background: black url("../images/pages/home/ico-arrow-pre.png") 10px 5px no-repeat; }
        #main-carousel .search-slider ul li.next {
          background: black url("../images/pages/home/ico-arrow-next.png") 15px 5px no-repeat; }
        #main-carousel .search-slider ul li.title {
          text-align: left;
          padding-left: 10px; }
        #main-carousel .search-slider ul li.line {
          width: 1px; }
          #main-carousel .search-slider ul li.line div {
            width: 1px;
            height: 30px;
            position: absolute;
            background: #fff;
            top: 15px; }
        #main-carousel .search-slider ul li.button {
          width: 140px; }
          #main-carousel .search-slider ul li.button a {
            height: 20px;
            line-height: 20px;
            width: 70px;
            margin-top: 10px; }
        #main-carousel .search-slider ul li.selectbox {
          width: 140px;
          text-align: left;
          margin-left: 5px;
          margin-right: 5px; }
        #main-carousel .search-slider ul li form {
          padding: 0;
          margin: 0; }
    #main-carousel .search-slider .search-detail {
      margin: 0 5px;
      height: 100%;
      background: rgba(0, 0, 0, 0.4); }

.resize.fullscreen {
  width: 100%; }
  .resize.fullscreen .now_page {
    background: #b2b2b2;
    height: auto; }
    .resize.fullscreen .now_page .container {
      width: 90%; }
      .resize.fullscreen .now_page .container .content_box {
        padding: 30px 50px; }
        .resize.fullscreen .now_page .container .content_box h1 {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 32px;
          line-height: 1.2;
          font-weight: normal;
          font-weight: bold;
          font-style: italic;
          text-transform: none;
          color: #fff; }
        .resize.fullscreen .now_page .container .content_box p {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 18px;
          line-height: 1.2;
          font-weight: normal;
          font-style: italic;
          text-transform: none;
          color: #444; }
          .resize.fullscreen .now_page .container .content_box p span {
            font-size: 44px;
            line-height: 0;
            bottom: -17px;
            position: relative; }

select.selecthome {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  background-color: #fff;
  /* fallback color if gradients are not supported */
  background: transparent url(../images/pages/home/select.png) center right no-repeat;
  border: 0;
  color: #fff;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 33px;
  width: 130px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  outline: none; }
  select.selecthome option {
    color: #000; }

.row-history {
  margin-top: 55px; }
  .row-history .one_half_pad .imghistor {
    text-align: center; }
  .row-history .one_half_pad h2 {
    color: #b2b2b2;
    font-family: "HelveticaNeueW01-66Medi";
    font-weight: normal;
    line-height: 1.2; }
  .row-history .one_half_pad h4 {
    font-family: "HelveticaNeueW01-56It";
    font-weight: normal;
    line-height: 1.2; }
  .row-history .one_half_pad p {
    font-family: "HelveticaNeueW01-55Roma";
    font-weight: normal;
    line-height: 1.2; }

.row-promotion {
  background: #bc8eda;
  padding-bottom: 50px; }
  .row-promotion .row {
    margin-left: 0;
    display: table;
    width: 100%;
    margin: 0 auto; }
  .row-promotion .span4 {
    text-align: center;
    background: #fff;
    margin: 0 10px;
    width: 280px;
    min-height: 423px; }
    .row-promotion .span4 h3 {
      padding: 5px 10px; }
      .row-promotion .span4 h3 a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 1.2;
        font-weight: normal;
        font-weight: bold; }
    .row-promotion .span4 p {
      padding: 10px 40px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      line-height: 1.2;
      font-weight: normal;
      min-height: 56px; }
    .row-promotion .span4 .btnpromotion {
      margin-bottom: 20px;
      color: #fff; }

.row-slider {
  background: #efefef; }
  .row-slider .resize {
    background: #efefef; }

#gallery.sliderStyle1 {
  padding-bottom: 70px; }
  #gallery.sliderStyle1 .submenu {
    margin: 15px; }
  #gallery.sliderStyle1 .item {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px; }
    #gallery.sliderStyle1 .item:hover .item-caption p {
      color: #444; }
    #gallery.sliderStyle1 .item .item-caption {
      height: auto;
      background: #fff;
      font-size: 12px;
      position: relative;
      padding: 10px; }
      #gallery.sliderStyle1 .item .item-caption ul {
        list-style: none;
        position: absolute;
        top: 10px;
        right: 0; }
        #gallery.sliderStyle1 .item .item-caption ul li {
          float: left;
          width: 30px;
          height: 20px;
          text-align: right;
          background: url("../images/pages/home/ico-homedesign.png") no-repeat; }
          #gallery.sliderStyle1 .item .item-caption ul li.icon1 {
            background-position: 0 0;
            width: 32px; }
          #gallery.sliderStyle1 .item .item-caption ul li.icon2 {
            background-position: 0 -20px;
            width: 32px;
            margin-left: 5px; }
          #gallery.sliderStyle1 .item .item-caption ul li.icon3 {
            background-position: 0 -40px;
            width: 32px;
            margin-left: 5px;
            margin-top: -2px; }
          #gallery.sliderStyle1 .item .item-caption ul li.icon4 {
            background-position: 0 -60px;
            width: 26px; }
    #gallery.sliderStyle1 .item a.zoom {
      background: #f38233 url(../images/zoom.png) center center no-repeat; }
  #gallery.sliderStyle1 .jcarousel-skin-tango .jcarousel-prev-horizontal {
    top: 70px;
    left: -50px;
    width: 24px;
    height: 44px;
    background: url(../images/pages/home/ico-arrow.png) 0 0 no-repeat; }
  #gallery.sliderStyle1 .jcarousel-skin-tango .jcarousel-next-horizontal {
    top: 70px;
    right: -50px;
    width: 24px;
    height: 44px;
    background: url(../images/pages/home/ico-arrow.png) 0 -44px no-repeat; }

.contactPage#content {
  padding-bottom: 30px; }
.contactPage .pad40 {
  padding-top: 40px; }
.contactPage .padtop23 {
  padding-top: 26px;
  clear: both; }
.contactPage .container {
  width: 1045px; }
.contactPage .span8 {
  width: 740px;
  margin-left: 0;
  border-right: 1px solid #dadada;
  margin-right: 34px; }
.contactPage .span4 {
  float: left;
  width: 220px;
  margin-left: 0;
  min-height: 400px;
  background: #fff;
  margin-right: 23px;
  position: relative; }
  .contactPage .span4 img {
    width: 100%; }
.contactPage .desc {
  text-align: justify;
  padding: 12px 13px 0 13px;
  min-height: 155px; }
  .contactPage .desc p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15.5px;
    margin-bottom: 10px;
    margin-top: 0;
    letter-spacing: -0.24px; }
.contactPage h3 {
  background: #f59b5c;
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding: 8px 0;
  margin: 0; }
.contactPage a.link {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background: url(../images/mail.png) no-repeat left center;
  color: #f38233;
  position: absolute;
  left: 14px;
  bottom: 12px;
  padding-left: 27px;
  letter-spacing: -0.6px; }
.contactPage .rightContact {
  background: transparent; }
  .contactPage .rightContact h2 {
    font-family: "HelveticaNeueLTStd-Md";
    font-size: 34px;
    color: #f38233;
    padding-bottom: 30px;
    margin: 0; }
  .contactPage .rightContact form p {
    margin-top: 0;
    margin-bottom: 6px; }
  .contactPage .rightContact .partiBox h4 {
    color: #f38233;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 15px; }
    .contactPage .rightContact .partiBox h4 span {
      font-size: 10px;
      font-style: italic;
      color: #666; }
  .contactPage .rightContact .partiBox ul {
    list-style-type: none;
    margin: 0; }
    .contactPage .rightContact .partiBox ul li {
      padding-bottom: 6px; }
      .contactPage .rightContact .partiBox ul li label {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 12px;
        padding-left: 28px;
        line-height: 24px; }
  .contactPage .rightContact .partiBox .selectGroup {
    padding-top: 28px;
    padding-bottom: 28px; }
    .contactPage .rightContact .partiBox .selectGroup select {
      width: 260px;
      margin-bottom: 6px; }

#gallery.gallery3 .span3 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
  background: #fff;
  margin-bottom: 30px; }
  #gallery.gallery3 .span3 p, #gallery.gallery3 .span3 h3 {
    text-align: center;
    text-transform: uppercase;
    padding: 10px; }
  #gallery.gallery3 .span3 h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2; }
  #gallery.gallery3 .span3 p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.2;
    padding: 10px 30px;
    background: url(../images/pages/testimonials/bg_quotes.png) no-repeat top center;
    min-height: 105px; }
#gallery.gallery3 a.zoom {
  background: url(../images/pages/testimonials/play.png) no-repeat center; }

.promotionPage {
  background: #efefef; }

.homedesignPage h2 {
  font-family: "HelveticaNeueLTStd-Md";
  font-size: 24px;
  color: #f38233;
  text-transform: uppercase;
  margin-bottom: 12px; }
.homedesignPage .pad40 {
  padding-top: 40px; }
.homedesignPage .container {
  width: 1125px; }
.homedesignPage .span8 h2 {
  font-family: "HelveticaNeueLTStd-Md";
  font-size: 24px;
  color: #f38233;
  text-transform: uppercase; }
.homedesignPage .span8.spanRightcontent {
  width: 740px; }
.homedesignPage .bgwhite {
  width: 710px;
  padding: 0 0  0 10px; }
  .homedesignPage .bgwhite.fullwidth {
    width: 100%; }
.homedesignPage .subtab a {
  background: #cdcdcd;
  color: #fff;
  border-radius: 0;
  margin: 0;
  font-size: 12px;
  box-shadow: none;
  padding: 8px 35px;
  border: none; }
  .homedesignPage .subtab a:hover, .homedesignPage .subtab a.active {
    border: none;
    background: #666; }
.homedesignPage .homedesignGallery {
  padding: 28px 15px;
  background: #fff; }
.homedesignPage .bigImage {
  position: relative;
  margin-bottom: 20px; }
  .homedesignPage .bigImage img {
    width: 100%; }
  .homedesignPage .bigImage .shadow {
    background: #fff;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    position: absolute; }
  .homedesignPage .bigImage .description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
    .homedesignPage .bigImage .description p {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #666;
      position: relative;
      padding-left: 13px;
      margin-top: 15px; }
.homedesignPage .pdfFile {
  float: right; }
  .homedesignPage .pdfFile a.add {
    background: url(../images/add.png) no-repeat 4px center #f29859;
    padding: 8px 4px 8px 22px;
    font-family: "HelveticaNeueLTStd-Md";
    font-size: 14px;
    color: #fff;
    border-radius: 2px;
    position: relative;
    top: -7px; }
.homedesignPage .introbox {
  clear: both; }
  .homedesignPage .introbox h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #666; }
  .homedesignPage .introbox p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #666;
    padding-top: 12px; }
.homedesignPage .span7.spanRightcontent {
  width: 535px;
  border-right: 1px solid #dadada;
  border-left: 1px solid #dadada;
  margin-left: 0;
  padding-left: 15px;
  background: #efefef;
  margin-bottom: 20px; }
.homedesignPage .introhomedesign .condition .resize {
  width: 100%;
  clear: both;
  background: #efefef; }
  .homedesignPage .introhomedesign .condition .resize .introbox {
    width: 96%;
    padding: 20px 0 0;
    padding-right: 20px; }

.singleDesign .bgwhite {
  width: 511px;
  padding-left: 5px; }

.sidebarright {
  width: 260px; }
  .sidebarright .sidebar {
    border-right: 0; }
    .sidebarright .sidebar .presstoJimForm {
      padding-top: 0; }

.sidebar {
  width: 280px;
  float: left; }
  .sidebar h2 {
    font-family: "HelveticaNeueLTStd-Md";
    font-size: 24px;
    color: #f38233; }
  .sidebar .row {
    margin-left: 0;
    margin-bottom: 25px; }
    .sidebar .row select.select {
      width: 260px; }
    .sidebar .row label {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 12px;
      color: #666; }
    .sidebar .row.range {
      margin-bottom: 33px; }
      .sidebar .row.range.r02 {
        margin-bottom: 37px; }
    .sidebar .row.brtop {
      border-top: 1px solid #dadada;
      padding-top: 25px;
      margin-top: 22px;
      clear: both;
      width: 262px; }
    .sidebar .row .ckrooms label {
      font-size: 12px;
      font-family: "Arial";
      /* top: 5px; */
      position: relative;
      padding-left: 26px;
      padding-top: 4px;
      height: 19px; }
    .sidebar .row .ckrooms .radioStyle {
      float: left;
      margin-right: 10px; }
  .sidebar .range-container .theme-green .back-bar {
    background: #d2d2d2;
    height: 6px;
    border-radius: 3px; }
  .sidebar .range-container .theme-green .back-bar .pointer {
    border: none;
    background: url(../images/rangedot.png) no-repeat;
    width: 16px;
    height: 20px; }
  .sidebar .range-container .theme-green .back-bar .selected-bar {
    background: #666; }
  .sidebar .range-container .slider-container .scale ins {
    font-size: 12px;
    font-family: "Arial";
    color: #666;
    top: 8px; }
  .sidebar .presstoJimForm {
    padding-top: 30px; }
  .sidebar .presstoJimForm .enquiryBox {
    padding-bottom: 70px;
    position: relative;
    width: 262px;
    margin-top: 34px; }
    .sidebar .presstoJimForm .enquiryBox .line {
      border-top: 2px solid #d2d2d2; }
    .sidebar .presstoJimForm .enquiryBox .num {
      position: absolute;
      top: -12px; }
      .sidebar .presstoJimForm .enquiryBox .num span.order {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #d2d2d2;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: #fa812a;
        display: block;
        text-align: center;
        line-height: 25px; }
      .sidebar .presstoJimForm .enquiryBox .num span.desc {
        color: #666;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 10px;
        margin-left: -20px;
        width: 65px;
        display: block;
        text-align: center;
        line-height: 1.2;
        padding-top: 6px; }
      .sidebar .presstoJimForm .enquiryBox .num.num01 {
        left: 25px; }
      .sidebar .presstoJimForm .enquiryBox .num.num02 {
        left: 118px; }
      .sidebar .presstoJimForm .enquiryBox .num.num03 {
        left: 211px; }
  .sidebar .presstoJimForm .selectGroup.fullwidth select.select {
    width: 260px; }
  .sidebar .presstoJimForm .selectGroup .note {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #9a9a9a;
    padding-left: 30px;
    padding-bottom: 15px;
    display: block;
    padding-top: 2px; }
  .sidebar .presstoJimForm .selectGroup textarea {
    clear: both;
    resize: none;
    width: 232px;
    height: 101px;
    padding-top: 8px; }
  .sidebar .pressToBtn {
    width: 260px;
    padding-top: 10px; }
    .sidebar .pressToBtn .btnWrap {
      display: table;
      margin: 0 auto; }
    .sidebar .pressToBtn span {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #666;
      display: block;
      text-align: center; }
    .sidebar .pressToBtn input[type="submit"] {
      width: 80px;
      height: 80px;
      background: #5a8409;
      border-radius: 50%;
      color: #fff;
      border: none;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 16px;
      text-transform: capitalize; }

.homedesignGallery .jcarousel-skin-tango .jcarousel-item {
  width: 155px;
  height: 105px;
  margin-right: 8px; }

#gallery .homedesignGallery .item {
  width: 155px;
  position: relative; }
  #gallery .homedesignGallery .item .shadow {
    background: #fff;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    position: absolute; }
  #gallery .homedesignGallery .item p {
    position: relative;
    padding: 9px 7px 7px 7px;
    line-height: 1.2; }

#gallery .homedesignGallery .item .pic img {
  width: 155px;
  height: 105px; }

#gallery.sliderStyle1 .homedesignGallery .jcarousel-skin-tango .jcarousel-prev-horizontal {
  background: url(../images/arrmedium.png) 0 0 no-repeat;
  width: 10px;
  height: 30px;
  left: -15px;
  top: 45px; }

#gallery.sliderStyle1 .homedesignGallery .jcarousel-skin-tango .jcarousel-next-horizontal {
  background: url(../images/arrmedium.png) right 0 no-repeat;
  width: 10px;
  height: 30px;
  right: -15px;
  top: 45px; }

.homedesignPage #gallery.sliderStyle1 {
  padding-bottom: 7px; }

#gallery.sliderStyle1 .homedesignGallery .item .item-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* padding: 8px; */
  background: transparent;
  padding: 0;
  display: none; }

#gallery.sliderStyle1 .homedesignGallery .item:hover .item-caption {
  display: block; }

#gallery.sliderStyle1 .singleGallery .item .item-caption {
  height: 40px;
  background: #f79d5b;
  margin-top: 0;
  padding: 4px 5px; }
  #gallery.sliderStyle1 .singleGallery .item .item-caption p.name {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 11px;
    color: #fff;
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 5px; }
  #gallery.sliderStyle1 .singleGallery .item .item-caption ul {
    right: auto;
    left: 0;
    width: 100%;
    margin-left: 0;
    top: -5px;
    padding: 0 1px;
    position: relative; }
    #gallery.sliderStyle1 .singleGallery .item .item-caption ul li {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 12px;
      color: #fff;
      width: auto;
      margin-right: 7px; }
    #gallery.sliderStyle1 .singleGallery .item .item-caption ul li.icon1 {
      background: url(../images/singledesign/bed.png) no-repeat left 5px;
      padding-left: 25px; }
    #gallery.sliderStyle1 .singleGallery .item .item-caption ul li.icon4 {
      background: url(../images/singledesign/bath.png) no-repeat left 5px;
      padding-left: 23px; }
    #gallery.sliderStyle1 .singleGallery .item .item-caption ul li.icon2 {
      background: url(../images/singledesign/car.png) no-repeat left 2px;
      padding-left: 22px; }
    #gallery.sliderStyle1 .singleGallery .item .item-caption ul li.info {
      background: transparent;
      float: right;
      margin-top: -9px; }

#gallery .singleGallery .item:hover img {
  opacity: 1 !important; }

.singleGallery ul {
  list-style-type: none;
  margin-left: 0;
  margin-right: 0; }
  .singleGallery ul li {
    float: left;
    margin-right: 23px;
    margin-bottom: 13px; }
    .singleGallery ul li .item .pic {
      position: relative; }
    .singleGallery ul li .item .detailBox {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
      .singleGallery ul li .item .detailBox .shadow {
        background: #555555;
        opacity: 0.95;
        position: absolute;
        width: 100%;
        height: 100%; }
      .singleGallery ul li .item .detailBox span {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 11px;
        color: #fff;
        padding-top: 14px;
        display: table; }
      .singleGallery ul li .item .detailBox a {
        display: table;
        margin: 85px auto 0;
        text-align: center;
        line-height: 1.2;
        position: relative; }
        .singleGallery ul li .item .detailBox a i {
          background: url(../images/singledesign/more.png) no-repeat;
          width: 20px;
          height: 20px;
          display: table;
          margin: 0 auto; }
    .singleGallery ul li .item:hover .detailBox {
      opacity: 1; }

.singleTab .homedesignGallery {
  display: none;
  opacity: 0; }
  .singleTab .homedesignGallery.current {
    display: block;
    opacity: 1; }

.newDesignpage .span7.spanRightcontent {
  padding-left: 25px;
  width: 520px; }

.paging .page-numbers.prev, .paging .page-numbers.next {
  display: none; }
.paging .page-numbers.current {
  color: #f38233; }

.clear {
  clear: both; }

.homeLand .margin-left-0 {
  margin-left: 0; }
.homeLand .bigtitle {
  font-family: "HelveticaNeueLTStd-Md";
  font-size: 24px;
  color: #f38233;
  text-transform: uppercase; }
.homeLand .headerbox .paging .total-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #666; }
  .homeLand .headerbox .paging .total-title span {
    color: #f38233;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px; }
.homeLand .headerbox .paging .paging-normal {
  padding-top: 10px;
  padding-bottom: 4px; }
  .homeLand .headerbox .paging .paging-normal a, .homeLand .headerbox .paging .paging-normal span.current {
    padding: 3px 5px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    background: #cdcdcd;
    border-radius: 5px; }
  .homeLand .headerbox .paging .paging-normal a:hover {
    background: #f59b5c; }
  .homeLand .headerbox .paging .paging-normal span.current {
    background: #f59b5c; }
.homeLand .headerbox .paging ul {
  list-style-type: none;
  margin-left: 0;
  padding-top: 10px; }
  .homeLand .headerbox .paging ul li {
    display: inline-block;
    margin-right: 3px; }
    .homeLand .headerbox .paging ul li a, .homeLand .headerbox .paging ul li span.current {
      padding: 3px 7px;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 16px;
      background: #cdcdcd;
      border-radius: 5px; }
    .homeLand .headerbox .paging ul li:hovver a {
      background: #f59b5c; }
    .homeLand .headerbox .paging ul li span.current {
      background: #f59b5c; }
.homeLand .headerbox .viewhomeland .middle {
  margin: 28px auto 0;
  display: table; }
.homeLand .headerbox .viewhomeland a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #fff;
  padding: 8px 11px;
  word-wrap: normal;
  display: inline-block;
  border-radius: 10px;
  line-height: 1; }
  .homeLand .headerbox .viewhomeland a.viewlist {
    margin-right: 4px; }
    .homeLand .headerbox .viewhomeland a.viewlist span {
      background: url(../images/homeland/list.png) no-repeat left center;
      padding-left: 27px;
      word-break: inherit;
      display: inline-block; }
  .homeLand .headerbox .viewhomeland a.viewmap {
    background: #cdcdcd; }
    .homeLand .headerbox .viewhomeland a.viewmap span {
      background: url(../images/homeland/map.png) no-repeat left center;
      padding-left: 31px;
      word-break: inherit;
      display: inline-block; }
  .homeLand .headerbox .viewhomeland a:hover, .homeLand .headerbox .viewhomeland a.active {
    background: #f59b5c; }
.homeLand .headerbox .orderbybox .orderbyleft {
  padding-top: 10px; }
.homeLand .headerbox .orderbybox label {
  color: #f38233;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px; }
.homeLand .headerbox .orderbybox .select {
  width: 260px; }
.homeLand .headerbox .paging ul li a:hover {
  background: #f59b5c; }
.homeLand .landList {
  clear: both;
  padding-top: 20px; }
  .homeLand .landList .item {
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    background: #fff;
    margin-bottom: 20px; }
    .homeLand .landList .item .pad {
      padding: 15px 17px 15px 15px; }
    .homeLand .landList .item .img-box {
      float: left;
      margin-right: 25px;
      width: 206px; }
      .homeLand .landList .item .img-box img {
        width: 100%; }
    .homeLand .landList .item .desc {
      float: left;
      width: 495px;
      padding-right: 120px; }
      .homeLand .landList .item .desc h3 {
        color: #666;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 15px;
        margin-top: 0px; }
      .homeLand .landList .item .desc .pos {
        color: #666;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        background: url(../images/homeland/pos.png) no-repeat left center;
        padding-left: 15px;
        margin-bottom: 15px;
        display: inline-block; }
      .homeLand .landList .item .desc .text {
        color: #666;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 12px; }
        .homeLand .landList .item .desc .text a {
          color: #f59b5c;
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 12px;
          text-decoration: underline; }
    .homeLand .landList .item .price {
      float: right;
      margin-top: 6px;
      width: 160px; }
      .homeLand .landList .item .price .num {
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 24px;
        background: #f59b5c;
        text-align: center;
        padding: 6px 0;
        border-radius: 5px; }
      .homeLand .landList .item .price ul {
        list-style-type: none;
        background: #efefef;
        border: 1px solid #dfdfdf;
        border-radius: 5px;
        margin-left: 0;
        margin-top: 5px;
        padding: 8px 7px 2px; }
        .homeLand .landList .item .price ul li label {
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 14px;
          color: #666;
          display: inline-block; }
        .homeLand .landList .item .price ul li span {
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 14px;
          color: #666;
          float: right; }
          .homeLand .landList .item .price ul li span i {
            display: inline-block;
            margin-top: 4px; }
          .homeLand .landList .item .price ul li span span {
            width: 25px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 18px;
            color: #f59b5c;
            text-align: right; }
        .homeLand .landList .item .price ul li.bed i {
          background: url(../images/homeland/bed.png) no-repeat;
          width: 18px;
          height: 9px; }
        .homeLand .landList .item .price ul li.bath i {
          background: url(../images/homeland/bath.png) no-repeat;
          width: 18px;
          height: 9px; }
        .homeLand .landList .item .price ul li.car i {
          background: url(../images/homeland/car.png) no-repeat;
          width: 18px;
          height: 14px; }

.homelandSingle .container {
  width: 1040px; }
.homelandSingle .bgWhite {
  background: #fff; }
.homelandSingle h3.land-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #666;
  text-transform: uppercase; }
.homelandSingle .property-id {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #666;
  text-transform: uppercase;
  margin-bottom: 30px; }
  .homelandSingle .property-id span {
    font-weight: 700px;
    color: #f38233; }
.homelandSingle .landcontent {
  padding: 20px 20px 40px 20px; }
.homelandSingle .post_content h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #666; }
.homelandSingle .post_content p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #666; }
.homelandSingle .pricebox {
  width: 160px;
  margin-bottom: 25px; }
  .homelandSingle .pricebox ul {
    list-style-type: none;
    background: #efefef;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    margin-left: 0;
    margin-top: 5px;
    padding: 8px 7px 2px; }
    .homelandSingle .pricebox ul li.bed i {
      background: url(../images/homeland/bed.png) no-repeat;
      width: 18px;
      height: 9px; }
    .homelandSingle .pricebox ul li.bath i {
      background: url(../images/homeland/bath.png) no-repeat;
      width: 18px;
      height: 9px; }
    .homelandSingle .pricebox ul li.car i {
      background: url(../images/homeland/car.png) no-repeat;
      width: 18px;
      height: 14px;
      margin-top: 3px; }
    .homelandSingle .pricebox ul label {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #666;
      display: inline-block; }
    .homelandSingle .pricebox ul span {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #666;
      float: right; }
      .homelandSingle .pricebox ul span i {
        display: inline-block;
        margin-top: 4px; }
      .homelandSingle .pricebox ul span span {
        width: 25px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #f59b5c;
        text-align: right; }
.homelandSingle .left50 {
  width: 505px;
  float: left;
  padding-right: 15px; }
  .homelandSingle .left50 .land-detail {
    padding-top: 18px; }
    .homelandSingle .left50 .land-detail p {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #666; }
      .homelandSingle .left50 .land-detail p label {
        font-weight: 700;
        float: left;
        width: 120px; }
      .homelandSingle .left50 .land-detail p span {
        display: inline-block;
        margin-top: 2px; }
        .homelandSingle .left50 .land-detail p span.orange {
          color: #f38233; }
.homelandSingle .right50 {
  width: 480px;
  float: left; }
  .homelandSingle .right50 .big {
    width: 479px; }
    .homelandSingle .right50 .big img {
      width: 100%; }
  .homelandSingle .right50 ul {
    list-style-type: none;
    margin-top: 20px;
    margin-left: 0;
    width: 103%; }
    .homelandSingle .right50 ul li {
      width: 147px;
      margin-right: 15px;
      display: inline-block;
      margin-bottom: 18px; }
      .homelandSingle .right50 ul li img {
        width: 100%; }
.homelandSingle .box-map {
  border-top: 1px solid #ccc;
  padding-top: 30px;
  margin-top: 20px; }
  .homelandSingle .box-map .acf-map {
    margin-top: 0; }
.homelandSingle .agent-contact {
  border-top: 1px solid #ccc;
  padding-top: 30px;
  margin-top: 30px; }
  .homelandSingle .agent-contact h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #666; }
  .homelandSingle .agent-contact p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #666; }
  .homelandSingle .agent-contact .agent-left {
    width: 352px;
    margin-left: 52px;
    float: left; }
    .homelandSingle .agent-contact .agent-left p {
      margin-top: 17px; }
  .homelandSingle .agent-contact .agent-right {
    width: 282px;
    float: left; }
    .homelandSingle .agent-contact .agent-right .make-contact {
      background: #d2d2d2;
      padding: 15px 15px 7px 15px; }
      .homelandSingle .agent-contact .agent-right .make-contact form {
        margin-bottom: 0; }
      .homelandSingle .agent-contact .agent-right .make-contact input[type="text"] {
        width: 210px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #666; }
      .homelandSingle .agent-contact .agent-right .make-contact textarea {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #666;
        width: 225px;
        height: 100px;
        resize: none; }
      .homelandSingle .agent-contact .agent-right .make-contact input[type="submit"] {
        border-radius: 5px;
        margin: 0 auto;
        display: table; }

.news .landList .item .desc {
  width: 700px;
  padding-right: 30px; }

.homedesignPage .news .container {
  width: 1000px; }

.resize {
  width: 100%; }

.content_detail_new {
  line-height: 1.3; }
  .content_detail_new h1, .content_detail_new h2, .content_detail_new h3 {
    color: #f38233;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    padding-top: 40px; }
  .content_detail_new h3 {
    padding-top: 0; }
  .content_detail_new p {
    font-size: 16px; }
    .content_detail_new p strong {
      color: #f38233;
      font-weight: 700; }
    .content_detail_new p.downloadpdf {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 40px;
      font-style: italic;
      line-height: 1.2; }
      .content_detail_new p.downloadpdf a {
        float: left; }
      .content_detail_new p.downloadpdf span {
        display: block;
        float: left;
        padding-top: 65px;
        padding-left: 10px; }
      .content_detail_new p.downloadpdf strong {
        color: #444; }
    .content_detail_new p img.floatleft {
      float: left;
      padding: 0 10px 10px 0; }
    .content_detail_new p.imagedetail img {
      padding: 5px 0; }
  .content_detail_new ul {
    padding: 0; }
    .content_detail_new ul li {
      padding: 0; }
  .content_detail_new #dnn_ctr613_HtmlModule_lblContent h1 {
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2; }

.locationPage .list-location {
  list-style: none;
  margin: 0;
  padding: 0; }
  .locationPage .list-location li {
    background: #f38233;
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2; }
    .locationPage .list-location li.active {
      color: #fff; }
.locationPage #map-canvas {
  width: 100%;
  height: 500px; }

@media only screen and (min-width: 890px) and (max-width: 1060px) {
  .menu ul li a, .menu ul li a.ms_top {
    font-size: 13px;
    padding: 14px 10px; }

  .contactPage .container {
    width: 100%; }
    .contactPage .container .span8 {
      display: table;
      margin: 0 auto;
      border-right: 0;
      float: none; }
    .contactPage .container .rightContact {
      float: none;
      width: 73%;
      margin: 30px auto; } }
@media only screen and (min-width: 768px) and (max-width: 890px) {
  .menu ul li a, .menu ul li a.ms_top {
    font-size: 11px;
    padding: 14px 8px; }

  .contactPage .container {
    width: 100%; }
    .contactPage .container .span8 {
      display: table;
      margin: 0 auto;
      border-right: 0;
      float: none; }
      .contactPage .container .span8 .span4 {
        margin-left: 17px;
        margin-right: 8px; }
    .contactPage .container .rightContact {
      float: none;
      width: 73%;
      margin: 30px auto; } }
@media only screen and (min-width: 768px) and (max-width: 1090px) {
  #footer .container {
    width: 92%; }

  #footer {
    padding-bottom: 10px; }
    #footer .resize {
      width: 100%; }

  #footer, .cols {
    height: auto; }

  #footer .cols .span2.col6 {
    height: auto;
    min-height: inherit;
    padding-bottom: 30px; } }
@media only screen and (min-width: 0) and (max-width: 768px) {
  #footer .container {
    width: 92%; }

  #footer {
    padding-bottom: 10px; }
    #footer .resize {
      width: 100%; }

  #footer, .cols {
    height: auto; }

  #footer .cols .span2.col6 {
    height: auto;
    min-height: inherit;
    padding-bottom: 30px; }

  #footer .cols .span2 {
    width: 100% !important;
    min-height: inherit;
    padding-bottom: 20px;
    margin-left: 0;
    background: transparent; }
    #footer .cols .span2.col1 {
      margin-left: 0; }

  .contactPage .container {
    width: 100%; }
    .contactPage .container .span8 {
      display: table;
      margin: 0 auto;
      border-right: 0;
      float: none;
      width: auto; }
      .contactPage .container .span8 .span4 {
        display: table;
        margin: 0 auto 20px;
        float: none; }
    .contactPage .container .rightContact {
      float: none;
      margin: 30px auto; } }
@media only screen and (min-width: 768px) and (max-width: 1275px) {
  #main-carousel .lookingfor ul li {
    padding: 16px 0 16px 14px; }

  .resize.fullscreen .now_page .container .content_box {
    padding: 25px 20px; }

  .resize.fullscreen .now_page .container {
    width: 95%; }

  #main-carousel .search-slider {
    bottom: 215px; } }
@media only screen and (min-width: 768px) and (max-width: 1105px) {
  .homedesignPage .container {
    width: 99%;
    margin: 0 auto; }

  .homeLand .landList .item .desc {
    width: 47%;
    padding-right: 2%; }

  .homeLand .headerbox .paging {
    width: 30%; }
  .homeLand .headerbox .viewhomeland {
    width: 30%;
    margin-left: 10px; }
  .homeLand .headerbox .orderbybox {
    width: 30%; }
    .homeLand .headerbox .orderbybox select.select {
      width: 100%; }

  .homeLand .landList .item .img-box {
    margin-right: 15px;
    width: 25%; }

  .condition .resize {
    width: 100%; }

  #footer .resize {
    width: 94%; } }
@media only screen and (min-width: 0) and (max-width: 768px) {
  body {
    min-width: 480px; }

  .homedesignPage .container {
    width: 97%; }

  #footer .cols .span2 {
    width: 30% !important; }

  #footer .container {
    width: 95%; }

  .homeLand .headerbox .viewhomeland {
    margin-left: 0;
    width: 40%;
    float: right; }
    .homeLand .headerbox .viewhomeland .middle {
      float: right; }
  .homeLand .headerbox .paging {
    width: 40%;
    float: left; }
  .homeLand .headerbox .orderbybox {
    margin-top: 15px; }
    .homeLand .headerbox .orderbybox .orderbyleft {
      float: right; }
      .homeLand .headerbox .orderbybox .orderbyleft label {
        text-align: right; }

  .homeLand .landList .item {
    position: relative; }
    .homeLand .landList .item .desc {
      margin-top: 20px;
      padding-right: 0;
      width: 100%; }
    .homeLand .landList .item .price {
      position: absolute;
      right: 15px;
      top: 10px; }

  .condition .resize {
    width: 97%; }
    .condition .resize .introbox {
      width: 100%;
      padding: 20px 0; } }
@media only screen and (min-width: 0px) and (max-width: 640px) {
  #footer .cols .span2 {
    width: 40% !important; }

  .copyright .pull-left {
    display: block;
    float: none; }
  .copyright .pull-right {
    float: left;
    margin-top: 10px; } }
@media only screen and (min-width: 768px) and (max-width: 1105px) {
  .homedesignPage .span8.spanRightcontent {
    width: 55%;
    margin-left: 1%; }
    .homedesignPage .span8.spanRightcontent .bgwhite {
      width: 99%; }

  .singleGallery ul {
    display: table-cell;
    margin: 0 auto;
    width: auto;
    text-align: center; }

  .singleGallery ul li {
    float: none;
    display: inline-block;
    vertical-align: top; }

  #gallery.sliderStyle1 .singleGallery .item .item-caption ul {
    display: inline-block; } }
@media only screen and (min-width: 0) and (max-width: 768px) {
  .homedesignPage .sidebar {
    border-right: 0;
    width: 100%; }
    .homedesignPage .sidebar #searchDesign {
      float: left;
      margin-right: 45px; }
    .homedesignPage .sidebar .presstoJimForm {
      float: left;
      padding-top: 0; }

  .homedesignPage .span8.spanRightcontent {
    width: 99%;
    margin-left: 1%;
    margin-top: 25px; }
    .homedesignPage .span8.spanRightcontent .bgwhite {
      width: 99%;
      padding-left: 0; }

  .singleGallery ul {
    display: table-cell;
    margin: 0 auto;
    width: auto;
    text-align: center; }

  .singleGallery ul li {
    float: none;
    display: inline-block;
    vertical-align: top; } }
@media only screen and (min-width: 0) and (max-width: 640px) {
  .homedesignPage .sidebar .presstoJimForm, .homedesignPage .sidebar #searchDesign {
    float: none;
    display: table;
    margin: 0 auto; }

  .homedesignPage .sidebar .presstoJimForm {
    margin-top: 30px; } }

/*@ sourceMappingURL=custom.css.map */