/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 959px) and (max-width: 1089px) {
		.resize { width: 960px; } 
		.resize .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 900px; }
		
		.top { margin-left: -480px; } 
		.carousel-control { z-index: 5; }
		.carousel-control { left: 10px; }
		.carousel-control.right { right: 10px; } 
		.jcarousel-skin-tango .jcarousel-item { width: 210px; }
		#gallery .item, #gallery .item .item-caption { width: 210px; } 
		.now_page .main { width: 677px; } 
		.services .span4, .middle_block .span4  { width: 286px; } 
		#footer .span3 { width: 210px; }
		#footer  .input-append .subscribe-input { width: 124px; }
		.middle_block .thumb_caption { width: 232px; }
		#testimonials .item .testimonial { width: 206px; }
		#tS2.jThumbnailScroller .jTscroller a { width: 172px; }
		#gallery .item .pic img { width: 210px; }
		
		.span8 { width: 578px; } 
		.span6 { width: 440px; }
		
		.span4.gap15 { width: 286px; }
		
		.span3 { width: 210px; }
		
		.span4.gap12 { width: 285px; }
		.span12 { width: 900px; }
		.span4.gap11 { width: 274px; }
		
		#slider-wrapper object { height: 353px; }
		
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		
		.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 748px; }
		
		.content_box { padding: 30px 80px; }
		.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 748px; } 
		
		.resize { width: 768px; } 
		.top { margin-left: -384px; }  
		
		#gallery .item { width: 172px; }  
		#gallery .item .pic img { width: 172px; height: 160px; }
		.now_page .main { padding: 50px 20px; width: 528px; }  
		#gallery .item .item-caption { width: 172px; } 
		.jcarousel-skin-tango .jcarousel-item { width: 172px; }
		.services .span4 { width: 236px; } 
		.middle_block .span4 { width: 236px; }
		.middle_block .thumb_caption { width: 181px; } 
		#testimonials .item img { margin-right: 10px; } 
		#testimonials .item .testimonial { width: 165px; } 
		#tS2.jThumbnailScroller .jTscroller a { width: 179px; }
		
		#footer .span3 { width: 172px; } 
		#footer .input-append .subscribe-input { width: 89px; }
		.cols .thumbnails > li { margin: 2px; width: 53px; height: 53px; }
		
		.sliderwrap { width: 748px; }
		#slider-wrapper object { height: 318px; }
		
		/* Typography */
		#navbar .navbar-inner { padding-right: 0px; padding-left: 0px; }
		.navbar .nav > li > a { padding: 13px 11px 10px; }
		#forms .offset1 { margin-left: 20px; }
		.span10 { width: 748px; }  
		.span12 { width: 748px; } 
		.label, .badge { margin-bottom: 4px; } 
		
		.carousel-control { z-index: 5; }
		.carousel-control { left: 10px; }
		.carousel-control.right { right: 10px; } 
		
		#main-carousel .carousel-caption { margin-left: -260px; }
		
		.content_page .span8 { width: 520px; }
		.content_page .span4 { width: 200px; }
		.content_page .span4.gap11 { width: 250px; }
		.span6 { width: 362px; }  
		.span4.gap15 { width: 236px; }
		.span3 { width: 172px; }
		.span4.gap12 { width: 236px; }
		
	}
	
	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
				
		.span8.floatright { float: none; } 
		.span6 { margin: 0 1%; width: 48%; } 
		.span10 { margin: 0px; width: 100%; }  
		.span12 { margin: 0px; width: 100%; } 
		
		#header, .navbar { height: auto; }
		#header .pull-left { float: none; } 
		.logo { margin: 10px auto 20px; width: 155px; } 
		#header .navbar-search { float: none; margin: 0px auto; width: 210px; }
		#header .social { margin: 20px auto 20px; float: none; overflow: hidden; text-align: center; }
		#header .social a { display: inline-block; text-align: center; float: none; } 
		#header .social img { display: inline; text-align: center; }
		.menu { float: none; margin: 0px; overflow: hidden; height: auto; } 
		#header .navbar .nav.pull-right { float: none; }
		
		.menu .tinynav { padding: 5px 0px; margin-bottom: 20px; width: 100%; display: block; }
		.navbar-fixed-top, .navbar-fixed-bottom { position: relative; }
		.menu ul.l_tinynav1 { display: none; }
		.navbar-inner { height: auto; }
		
		.services .span4, .middle_block .span4 { margin: 0px; float: none; overflow: hidden; width: 100%; }
		.middle_block { padding: 30px 0; }
		.row { margin: 0px; }
		
		.middle_block .thumb_caption { width: 346px; } 
		#testimonials .item .testimonial { width: 320px; }
		#tS2.jThumbnailScroller .jTscroller a { width: 195px; } 
		
		#footer .span3 { margin: 0px; width: 100%; float: none; overflow: hidden; min-height: 100px; }   
		.cols { padding-bottom: 20px; height: auto; } 
		#footer { height: auto; }
		
		.carousel-control { z-index: 5; }
		.carousel-control { left: 7px; }
		.carousel-control.right { right: 7px; } 
		#main-carousel .carousel-control { margin-top: -17px; width: 35px; height: 35px; top: 50%; background-size: cover; }
		#main-carousel .carousel-control.left, #main-carousel .carousel-control.right { background-size: contain; }
		#main-carousel .carousel-control.left:hover, #main-carousel .carousel-control.right:hover { background-size: contain; }
		
		.copyright { padding: 15px 0; }
		#gallery .span4 { margin: 0px; width: 100%; float: none; overflow: hidden; } 
		.span4 { float: none; margin: 0px; width: 100%; overflow: hidden; }
		
		.content_page .span8 { width: 100%; margin: 0px; float: none; overflow: hidden; }
		.content_page .span4 { width: 100%; float: none; overflow: hidden; }
		#gallery .content_page .span4.gap11 { margin: 0 5px; width: 190px; float: left; }
		
		#gallery h2 { margin-top: 0px; } 
		.blogpost .post_detail { font-size: 10px; } 
		.media, .media-body { overflow: visible; }
		
		.pic { text-align: center; } 
		.zoom { margin: -50px 0 0 -50px; left: 50%; top: 50%; } 
		.zoom a { margin: -32px 0 0 -32px; padding: 0px; width: 64px; height: 64px; position: absolute; top: 0px; left: 50%; top: 50%; } 
		.pic.pull-left { margin: 0px; float: none; } 
		.pic.pull-right { margin: 0px; float: none; } 
		.media .pic a { margin-bottom: 0px; }
		.media .pic.pull-left { margin-right: 10px; float: left; } 
		
		.span3 { margin: 0 1%; float: left; width: 48%; min-height: 300px; }
	}	      
 
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
		.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 400px; }
		.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 400px; } 
		.resize { width: 420px; } 
		.top { margin-left: -210px; top: 625px; }  
		
		.sliderwrap { width: 400px; }
		
		#main-carousel .carousel-caption { padding: 40px 10px; margin-left: -200px; width: 380px; } 
		#main-carousel .carousel-caption h4 { font-size: 23px; }
		
		.content_box { padding: 12px 0; }
		
		.jcarousel-skin-tango .jcarousel-item, #gallery .item, #gallery .item .item-caption{ width: 190px; }
		
		/* Typography */
		#navbar .navbar-inner { padding-right: 0px; padding-left: 0px; }
		.navbar .nav > li > a { padding: 13px 11px 10px; }
		#forms .offset1 { margin-left: 0px; }
		.form-horizontal .control-label { width: 70px; } 
		.input-xlarge { width: 150px; }
		.label, .badge { margin-bottom: 4px; } 
		.navbar .brand2 { padding: 11px 8px 13px; }
		.nav.pull-right li a { padding: 13px 5px 10px; }  
		.form-horizontal .form-actions { padding-left: 50px; }  
		#miscellaneous .span4 { overflow: visible; }
		.pricing_six .pricing_column, .pricing_six .pricing_column_first { width: 15% !important; } 
		
		.now_page .main { padding: 30px 20px; float: none; overflow: hidden; width: 400px; height: auto; }
		.now_page a.button { padding: 85px 0; width: 100%; text-align: center; float: none; overflow: hidden; }
		.now_page { height: auto; }
		.separator { margin: 10px auto; } 
		
		#main-carousel img { height: 400px; }
		#main-carousel { height: 400px; }
		.margin { margin-top: 485px; }		
		.maps_view { height: 220px; }
		
		.btn { width: 130px; }
		.form-horizontal .controls { margin-left: 110px; }
		
	} 
	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 300px; }
		.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 300px; } 
		.resize { width: 320px; } 
		.top { margin-left: -160px; top: 567px; }  
		
		.maps_view { height: 170px; }
		.sliderwrap { width: 300px; }
		#slider-wrapper object { height: 170px; }
		
		#main-carousel .carousel-caption { padding: 40px 10px; margin-left: -150px; height: 192px; width: 280px; } 
		#main-carousel .carousel-caption h4 { font-size: 23px; }
		
		.content_box { padding: 12px 0; }
		
		.jcarousel-skin-tango .jcarousel-item, #gallery .item, #gallery .item .item-caption{ width: 140px; }
		
		.now_page .main { padding: 30px 10px; float: none; overflow: hidden; width: 300px; height: auto; }
		.now_page .main h3 { font-size: 17px; }
		.now_page a.button { padding: 38px 0; height: auto; width: 100%; text-align: center; float: none; overflow: hidden; }
		.now_page { height: auto; }
		.separator { margin: 10px auto; } 
		.content_box h1 { font-size: 21px; }
		#gallery .item .pic img { width: 140px; height: 130px; } 
		#gallery .item .item-caption { padding: 15px 10px; }
		.margin { margin-top: 200px; }
		.middle_block .thumb_caption { width: 246px; }
		#testimonials .item .testimonial { padding-right: 0px; width: 235px; }
		#testimonials .item img { margin-right: 10px; }
		#tS2.jThumbnailScroller .jTscroller a { width: 146px; }
		
		/* Typography */
		#navbar .navbar-inner { padding-right: 0px; padding-left: 0px; }
		.navbar .nav > li > a { padding: 13px 11px 10px; }
		#forms .offset1 { margin-left: 0px; }
		.form-horizontal.well .control-label { width: 170px; float: none; text-align: left; } 
		.form-horizontal.well .controls { margin-left: 0px; } 
		.input-xlarge { width: 220px; }
		.label, .badge { margin-bottom: 4px; } 
		.navbar .brand2 { padding: 11px 4px 13px; }
		.nav.pull-right li a { padding: 13px 5px 10px; }  
		.form-horizontal .form-actions { padding-left: 0px; padding-right: 0px; }  
		#miscellaneous .span4 { overflow: visible; }
		.span6 { width: 100%; float: none; margin: 0px; } 
		.navbar .nav > li > .dropdown-menu:before { left: auto; right: 9px; }
		.navbar .nav > li > .dropdown-menu:after { left: auto; right: 10px; }
		.dropdown-menu { left: -67px; } 
		#webstore .right { float: left !important; }    
		.sliderwrap { padding-bottom: 10px; }
		
		#main-carousel img { height: 300px; }
		#main-carousel { height: 300px; }
		#gallery .content_page .span4.gap11 { margin: 0; width: 100%; float: none; }
		.pic.pull-left { margin-right: 10px; }
		.form-horizontal .control-label { width: 80px; }
		.form-horizontal .controls { margin-left: 110px; } 
		input, textarea, .uneditable-input { width: 150px; } 
		.btn { width: 150px; } 
		.span3 { margin: 0; float: none; width: 100%; }
		
		.input-medium { width: 90px; } 
		.btn { width: 120px; }
		.margin { margin-top: 465px; }	
	}   
	
	
	
