@font-face{
	font-family:"Helvetica-Condensed-Black";
	src:url("../fonts/Helvetica-Condensed-Black.eot?#iefix");
	src:url("../fonts/Helvetica-Condensed-Black.eot?#iefix") format("eot"),url("../fonts/Helvetica-Condensed-Black.woff") format("woff"),url("../fonts/Helvetica-Condensed-Black.ttf") format("truetype"),url("../fonts/Helvetica-Condensed-Black.svg#Helvetica-Condensed-Black") format("svg");
	font-weight: normal;
  	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	font: 12px/18px 'Liberation Sans', Arial, Helvetica, sans-serif;
	width: 100%;
	height: 100%;
}
a {
	color: #484949;
	outline: none;
	text-decoration: none;
}
a:hover {
	color:#fec837;
}
a:hover, a:active, a:focus, a:visited {
	text-decoration: none;
	border:none;
	outline:none;
}

h1,h2,h3,h4,h5{
	color:#333333;
	line-height:1.2em;
	font-weight:normal;
	font-family: 'Cabin Condensed', sans-serif;
}
.top.notop { top: auto; position: relative; }
.margin.moremargin { margin-top: 0px; }
h1{ font-size: 24px; }
h2{ font-size: 18px; }
h3,h4,h5{ font-size:16px;}

.span8.floatright { float: right; }
.menu .tinynav { display: none; }
.maps_view { height: 350px; }

.sliderwrap { margin: 0 auto; padding-top: 12px; padding-bottom: 30px; width: 940px; }
#slider-wrapper object { width: 100%; }
#sliderwrap { padding-top: 0px; background: none; }

.maps_view { height: 350px; }

p {
	margin: 10px 0;
	font-size:12px;
	color:#a9a9a9;
	font-weight:normal;
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.clr{clear:both;}

.sep{width: 100%; border-top: 1px solid #e7e7e7; margin: 40px 0;}
.sep_small{width: 55%;	border-top: 1px solid #fec837; margin: 20px 0;}
.separator{ margin:20px auto; width:100%; height:1px;}
.separator_small{ margin:15px auto; width:100%; height:1px;}

.extrabold{font-weight:700;}

.resize{
	width:1090px;
	margin:0 auto;
	background:#fff;
}
/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 122px;
	background: #fff;
}

.social{margin-top:0px;margin-right:-20px;}
.social a.soc{
	margin:0;
	margin:0;
	float:left;
	margin-left: 2px;
}

.social a.soc:hover{background:#f5f5f5;}
.social img {}
.social img.soc1{background:url(../images/soc1.png) center center no-repeat;}
.social img.soc2{background:url(../images/soc2.png) center center no-repeat;}
.social img.soc3{background:url(../images/soc3.png) center center no-repeat;}
.social img.soc4{background:url(../images/soc4.png) center center no-repeat;}
.social img.soc5{background:url(../images/soc5.png) center center no-repeat;}
.social img.soc6{background:url(../images/soc6.png) center center no-repeat;}
.social img.soc7{background:url(../images/soc7.png) center center no-repeat;}

.phone{
	padding-top: 38px;
	padding-right: 33px;
}
.phone span{
	background: url(../images/phone.png) no-repeat left center;
	padding-left: 45px;
	font-family: "Helvetica-Condensed-Black";
	font-size: 36px;
	color: #666;
}
.logo{margin:25px 0;}

.logo a{
	font-size:36px;
	line-height:1em;
	color:#fec837;
	text-transform:uppercase;
	font-family: 'Cabin Condensed', sans-serif;
}

.logo span{
	color:#4c4c4c;
	text-transform:uppercase;
}

.navbar{
	background:#fff;
	height:167px;
	-webkit-box-shadow: 0 10px 0 rgba(0,0,0,0.15); 
	   -moz-box-shadow: 0 10px 0 rgba(0,0,0,0.15);
        	box-shadow: 0 10px 0 rgba(0,0,0,0.15);
}
.navmenu{
	height: 45px;
	background: #f38233;
}
.navbar .navmenu .nav{
  height: 45px;
  display: table;
  margin: -1px auto;
  width: 100%;
}
.navbar .navmenu .menu{
	height:45px;
	display: table;
	margin: 0 auto 0;
	float: none;
}
.navbar-inner{
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
	border:none;
	background:#fff;
	padding:0;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
    		box-shadow: none;
    height:122px;
}
.navbar-fixed-top .navbar-inner{
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
    		box-shadow: none;
}

.navbar-search{
	margin-top:20px;
	margin-right:20px;
	background:#fff;
	width:200px;
}
.input-append{margin:0;}
.navbar-search input.input-search{
	border:none;
	height:32px;
	width:160px;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
	background:#f5f5f5;
	border:none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}

.navbar-search button.search-submit{
	border:none;
	-webkit-border-radius: 0!important;
	   -moz-border-radius: 0!important;
			border-radius: 0!important;
	background:#f5f5f5;
	width: 38px;
	height:40px;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
    		box-shadow: none;
	
}

.navbar-search button i {
	opacity:0.25;
	-moz-opacity:0.25;
	filter:alpha(opacity=25);
}

.typo .navbar { height:auto; background:none; border-bottom:none !important;}
.typo .navbar-inner { height:auto; background:none; min-height:auto !important; border-bottom:none !important; }
.navbar .brand2{
	color:#fff;
	float:left;
	font-size: 14px;
	padding: 11px 21px 13px 21px;
	background: #1b1b1b;
        line-height: normal;
}
/* Middle
-----------------------------------------------------------------------------*/
#content {
	padding: 0 0 10px;
}

.now_carousel{width:100%;}

#main-carousel {
	margin:0;
	padding:0;
	width:100%;
	height:790px;
	padding-top: 167px;
}

#main-carousel img{
	width: 100%;
	min-width: 960px;
	height: 790px;
	max-height:790px;
	border:none;
}

#main-carousel .carousel-caption{
	width: 520px;
	height:230px;
	position:absolute;
	top: 50px;
	left:50%;
	margin-left:-250px;
	background:none;
	padding:40px 20px;
			box-sizing:border-box;
	   -moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border:3px solid #fff;
}

#main-carousel .carousel-caption h4{
	font-size:48px;
	margin-bottom: 20px;
	text-transform:uppercase;
	line-height:1em;
	padding-bottom:20px;
	border-bottom:1px solid #fff;
}

#main-carousel .carousel-caption p{
	font-size:14px;
	font-family:'Cabin Condensed', sans-serif;
	font-weight:500;
}

#main-carousel .carousel-control.right{
	background:url(../images/right.png) center center no-repeat;
	opacity:1;
	filter: alpha(opacity=100);
}

#main-carousel .carousel-control.right:hover{
	background:url(../images/right_hover.png) center center no-repeat;
	opacity:1;
	filter: alpha(opacity=100);
}

#main-carousel .carousel-control.left{
	background:url(../images/left.png) center center no-repeat;
	opacity:1;
	filter: alpha(opacity=100);
}

#main-carousel .carousel-control.left:hover{
	background:url(../images/left_hover.png) center center no-repeat;
	opacity:1;
	filter: alpha(opacity=100);
}

#main-carousel .carousel-control{
	border:0;
	width:64px;
	height:64px;
	top:50%;
	margin-top:-32px;
	-webkit-border-radius: 0;
       -moz-border-radius: 0;
       		border-radius:0;
}

.top{position:absolute; top:450px; left:50%; margin-left:-545px;}
.margin{ margin-top:150px;}
	
.now_page{
	background:url(../images/bg.png) repeat;
	height:185px;
}

.content_box{
	padding:40px 150px;
			box-sizing:border-box;
	   -moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.content_box h1{
	font-weight:700;
	color:#585858;
	text-transform:uppercase;
}

.content_box p{
	font-size:14px;
	color:#a6a6a6;
	font-family: 'Cabin Condensed', sans-serif;
}

.now_page .main{
	background:url(../images/bg.png) repeat; 
	margin:0; 
	height:185px; 
	width:720px; 
	padding: 60px 40px;
			box-sizing:border-box;
	   -moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
}

.now_page .main h3{
	font-size:20px;
	color:#5c5c5c;
}

.now_page a.button{
	background:#fec837; 
	margin:0; 
	height:185px; 
	width:220px;
	display:block;
	padding: 85px 30px;
			box-sizing:border-box;
	   -moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
	font-size:24px;
	text-transform:uppercase;
	color:#fff;
	font-family:'Cabin Condensed', sans-serif;
}

.color-btn{
	font-family:'Cabin Condensed', sans-serif;
	color:#4b4b4b;
	border:none;
	font-size:18px;
	text-shadow: none;
	text-transform:uppercase;
	font-weight:700;
	-webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 0 rgba(0,0,0,0.25); 
	   -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 0 rgba(0,0,0,0.25);
   		    box-shadow:inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 0 rgba(0,0,0,0.25);
			box-sizing:border-box;
	   -moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
	background-color: #fec837;
	background: -moz-linear-gradient(top, #fcd05a,#fec837);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fcd05a), to(#fec837));
	background: -webkit-linear-gradient(top, #fcd05a, #fec837);
	background: -o-linear-gradient(top, #fcd05a,#fec837);
	background: linear-gradient(to bottom, #fcd05a,#fec837);
}

.color-btn:hover, .color-btn:active, .color-btn:focus{
	background-position: 0 0;
	color:#4b4b4b;
	-webkit-box-shadow:inset 0 1px 5px rgba(0,0,0,0.1); 
	   -moz-box-shadow:inset 0 1px 5px rgba(0,0,0,0.1);
    	    box-shadow:inset 0 1px 5px rgba(0,0,0,0.1);
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
	color:#4b4b4b; background-color: #fec837;
}
.center{left:50%;position: relative;}
.btn{width:220px; border:none;}
.btn.center{margin-left:-110px;}

.services{position:relative;}

a.ico{
	display:block;
	width:60px;
	height:60px;
	background-color:#4b4b4b;
	background-position:center;
	background-repeat:no-repeat;
	position:relative;
	top: 20px;
}

.services .ico img{
	background-color:#4b4b4b ;
	background-position: center;
    background-repeat: no-repeat;
	position:absolute;
	width:60px;
	height:60px;
	top:50%;
	margin-top:-69px;
	left:50%;
	margin-left:-69px;
}

a.ico:hover, .serv_ico:hover a.ico{	background-color:#fec837;}
a.ico1{	background-image:url(../images/ico1.png);}
a.ico2{	background-image:url(../images/ico2.png);}
a.ico3{	background-image:url(../images/ico3.png);}

.serv{padding:0 0 0 80px;}

.serv h3{
	font-weight:normal;
	text-transform:none;
	font-size:18px;
	margin-bottom:0;
}

.serv p{font-size:12px;}
.serv span{font-size:11px; margin-bottom:20px; display:block;}
.serv p, .serv span{
	font-family:"Liberation Sans", Arial, Helvetica, sans-serif;
	color:#a9a9a9;
}

#gallery h2, .clients h2, .middle_block h2{margin-top:40px;}

#gallery{background:none;}
#gallery .item { width:220px;}
#gallery .item .pic img{ width:220px; height:186px;}

#gallery .item:hover img{
	opacity:0.6!important;
	-moz-opacity:0.6!important;
	filter:alpha(opacity=60)!important;
}

#gallery .item .item-caption{
	width:220px;
	margin-top:2px;
	height:71px;
	background:url(../images/bg.png) repeat;
	padding:15px;
			box-sizing:border-box;
	   -moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

#gallery .item .item-caption h4{
	font-size:14px;
	color:#353535;
	margin:0;
}

#gallery .item .item-caption p{	margin:0; font-size: 11px;}
#gallery .item:hover .item-caption{	background:#fec837;}
#gallery .item:hover .item-caption h4, #gallery .item:hover .item-caption p{color:#fff;}


.middle_block{background: url(../images/bg.png) repeat;	padding:55px 0;}
.middle_block .thumb_caption{height:54px; width:246px; margin:2px 0 10px; background: #f6f6f6; box-sizing:border-box; -moz-box-sizing: border-box; -webkit-box-sizing:border-box; padding:5px 15px;}
.middle_block .thumb_caption h3, .middle_block p.comments{margin:5px 0;}
a.h3_href { font-size:14px; color:#484949; font-family: 'Cabin Condensed', sans-serif;font-weight:normal;}
a.h3_href:hover{ color:#fec837;}
.middle_block .thumb_caption p.comments{font-size:11px; line-height:10px; margin-top:0;}
.middle_block .date {display:block; margin:2px 0 10px; padding:10px 13px; color:#fff; font-size: 12px; line-height:10px; font-family:'Open Sans', sans-serif; background:#fec837; width:54px; height:54px;box-sizing:border-box; -moz-box-sizing: border-box; -webkit-box-sizing:border-box;}
.middle_block .date span{font-size:24px; line-height:24px;}

.accordion-group {
	margin-bottom: 2px;
	border: none;
}
.accordion-heading a.accordion-toggle{border-bottom:1px solid #e2e2e2;}
.accordion-inner{border:0;}
.accordion-heading a.accordion-toggle{
	font-family: 'Cabin Condensed', sans-serif;
	font-size: 14px;
	color:#484949;
	background: url(../images/minus.png) center left no-repeat;
	padding-left: 30px;
}
.accordion-heading a.accordion-toggle:hover{
	color:#fec837;
}
.accordion-heading a.accordion-toggle.active{
	background: url(../images/plus.png) center left no-repeat;
	color:#fec837;
}

#testimonials .item img{width:54px;height:54px;margin-right:20px;}
#testimonials .item .testimonial {width: 220px;height:auto;padding:0 5px 0 0;}
#testimonials .item p.quote{font-style:italic;line-height:1.7em; margin:0 0 10px 0;}
#testimonials .item p.author{font-family:'Open Sans',sans-serif; font-size:14px; color:#4f4f4f;}
#testimonials .item p.author span{font-size:11px; display:block; color:#a9a9a9; padding:5px 0;}

#testimonials .carousel-control{
	width:22px;
	height:22px;
	border:0;
	top:-30px;;
	right:15px;
}

#testimonials .carousel-control.left{background:url(../images/left_arrow.png) no-repeat; right:40px; left:auto;}
#testimonials .carousel-control.left:hover{ background:url(../images/left_arrow_hover.png) no-repeat;}
#testimonials .carousel-control.right{ background:url(../images/right_arrow.png) no-repeat;}
#testimonials .carousel-control.right:hover{ background:url(../images/right_arrow_hover.png) no-repeat;}

#tS2 img{width:180px; height:100px;}
#tS2 img.logo1{	background:url(../images/logo1.png) center center no-repeat;}
#tS2 img.logo2{	background:url(../images/logo2.png) center center no-repeat;}
#tS2 img.logo3{	background:url(../images/logo3.png) center center no-repeat;}
#tS2 img.logo4{	background:url(../images/logo4.png) center center no-repeat;}
#tS2 img.logo5{	background:url(../images/logo5.png) center center no-repeat;}


.content_page{	padding:0 0 20px;}

.content_page p{ margin: 10px 0; }

.content_full_size{width:100%}

.pic {background:none; position:relative;}
.pic img {background:none; margin:0; width:100%;}
.pic a{display:block;}
.pic:hover img{opacity:0.6!important;-moz-opacity:0.6; filter:alpha(opacity=60)!important;width:100%!important;}
.pic:hover .zoom{display:block;}
.pic:hover .gallery_caption{display:block;}	
.pic.pull-left{margin-right:20px;}
.pic.pull-right{margin-left:20px;}

a.zoom{position:absolute; display:none; top:50%; margin-top:-30px; left:50%; margin-left:-30px; width:60px; height:60px;background:#fec837 url(../images/zoom.png) center center no-repeat;}

.pop_posts p { padding:5px 0 20px 0px ;}
.pop_posts h3 { padding:0; margin:0;}
.pop_posts h3 a{ padding:0; margin:0; line-height:15px;}
.pop_posts h3 span{display:block; color:#5b6063; font-size:10px; font-weight:normal;text-transform:none; margin:0; padding:0;line-height:10px;}

.p404 h2{ font-size:48px;}
.p404 h2 span{display:block; font-size:20px; color:#5b6063; font-weight:bold;text-transform:none; margin:0; padding:0;}
.p404 p{font-size:14px;}

.blogpost h3{}
.blogpost .post_detail{margin:5px 0; color:#5b6063; font-size:11px;}
.blogpost .post_detail a{font-weight:bold;}

.detail a{font-weight:bold;}

.media.post_author .media-body p{margin:-3px 0 0;}
.media .media-body .comment_date{color:#7b7b7b; font-size:11px;}
.media .media-body .comment_date a{display:block;margin: 5px 0 ;}
.media .media-body .comment_date a:hover{color:#fec837;}
.media .media-body .comment_text{color:#7b7b7b; font-size:12px;}

.control-label{ color:#5b6063; font-size:12px;}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
	margin: 0 auto ;
	height: 415px;
	position: relative;
	background: #b2b2b2;
}
#footer .container{
	width: 1050px;
}
#footer .cols{
	padding-top: 53px;
}
#footer .cols h4{
	font-family: "Arial";
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 17px 0 5px 0;
}
#footer .cols h4 a{
	color: #fff;
}
#footer .cols h4 a:hover{
	color: #f38233;
}
#footer .cols ul{
	font-family: "Arial";
	font-size: 12px;
	list-style-type: none;
	margin-left: 0;
	margin-top: 0;
}
#footer .cols ul li a{
	color: #444;
}
#footer .cols ul li a:hover{
	color: #f38233;
}
#footer .cols .span2{
	background: url(../images/line-footer.png) no-repeat right center;
	min-height: 300px;
}
#footer .cols .span2.col1{
	width: 126px;
	margin-left: 10px;
}
#footer .cols .span2.col2{
	width: 190px;
}
#footer .cols .span2.col3{
	width: 190px;
}
#footer .cols .span2.col4{
	width: 145px;
}
#footer .cols .span2.col5{
	width: 145px;
}
#footer .cols .span2.col6{
	width: 160px;
	background: transparent;
}
.cols{
	background:#b2b2b2;
	height:335px;
	font-family:'Liberation Sans',Arial, Helvetica,sans-serif;
	
}

.cols h4{
	font-size:18px;
	color:#fff;
	font-weight:normal;
	margin:35px 0;
	font-family:'Cabin Condensed', sans-serif;
}

.cols .post{padding-right:30px;}

.cols .post span {
	font-size:11px;
	color:#8b8b8b;
	font-weight:normal;
	display:block;
	font-style:italic;
	margin-top: 0;
	margin-bottom:10px;
	font-family:'Liberation Sans',Arial, Helvetica, sans-serif;
}

.cols .post a, .cols p{
	color:#afafaf;
	font-size:12px;
	font-family:'Liberation Sans',Arial, Helvetica, sans-serif;
}

.cols .post a{font-weight:bold;color:#fec837;}

.cols #subscribe{margin-top: 15px;}

.input-append .subscribe-input{
	width:145px;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
	border: none;
}

.input-append .subscribe-button {
	-webkit-border-radius: 0!important;
	   -moz-border-radius: 0!important;
			border-radius: 0!important;
	background: #fec837; 
	color:#4b4b4b;
	font-size:11px;
	font-weight:normal;
	padding: 4px 7px;
	outline:none;
	border:none;
	width:70px;
	text-transform:uppercase;
	font-family:'Open Sans', sans-serif;
	text-shadow:none;
}

.cols .thumbnails{margin:0;}

.cols .thumbnails > li{
	margin:5px;
	padding:0;
	width:60px;
	height:60px;
}

.cols .thumbnails li a img:hover{
	opacity: 0.6;
	-moz-opacity: 0.6; 
	filter: alpha(opacity=60);
}

div.dc_pricingtable03 { float: left; z-index: 1; position: relative; }

.copyright{
	color:#fff;
	font-size:12px;
	font-family:'Liberation Sans', Arial, Helvetica, sans-serif;
}

.copyright a{color:#757575;}

#webstore .right { float: none !important; margin: 0px !important; }

.testimonials .text h3 { color:#fff !important;}
.one_third_pad img { max-width: 100%; height: auto; }
.one_half_pad img { max-width: 100%; height: auto; }
.two_third_pad img { max-width: 100%; height:auto; }
.dc_pricingtable03 li h2 { font-size:24px !important;}
.dc_pricingtable03 li h2 { font-size:24px !important;}
.dc_pricingtable03 li h2, .dc_pricingtable03 li h1, .dc_pricingtable03 li h1 span, .dc_pricingtable03 li h3 { color:#fff !important; float: none !important; bottom: 0px !important; background: none !important;}
.dc_pricingtable03 li h2.caption { color:#999 !important; font-size:28px !important;}
.dc_pricingtable06 ul li h3 { font-size:28px !important; color:#fff !important; line-height:180% !important;}
.dc_pricingtable05 ul li h3 { font-size:28px !important; line-height:250% !important; color: #555555 !important;}
div.dc_pricingtable03 .align_center h2 { margin: 0px !important; text-align: center !important; float: none !important; bottom: 0px !important; }
.recent_works.gap { width: auto !important; }
h3.gap85 { text-align: left !important; }

/* */
.oneForth { margin:20px auto; float: left; width: 25%; }
.oneForth img { max-width: 100%; height: auto; }
.oneThird { margin: auto; width: 23%; }
.one_fourth_pad img { max-width: 100%; height: auto; }
/* */
.center_small_box > div:after { clear: both; display: block; }
.center_small_box > div {  position: relative; }
/* img h2 */
h2 img { max-width: 100%; height: auto; }
#slider-wrapper object { width: 100%; }
div.dc_pricingtable03 h1 { font-size: 42px !important; float: none !important; bottom: 0px !important; }
div.dc_pricingtable03 h1 span { display: inline !important; line-height: 52px; }
.dc_pricingtable03 li h2, .dc_pricingtable03 li h1, .dc_pricingtable03 li h1 span, .dc_pricingtable03 li h3 { text-align: center; }

h1.gap90 {
    color: #555555 !important;
    font-size: 24px !important;
    font-weight: bold !important;
    padding: 20px 0 !important;
    text-align: left !important;
}

.photo:after { content:"" !important; }

.dc_pricingtable03 h2 { background: none !important; }
.dc_pricingtable03 h1 { background: none !important; }
.dc_pricingtable06 ul li h3 { text-align: center; }
.dc_pricingtable05 ul, .dc_pricingtable06 ul, .dc_pricingtable05 ul li,  .dc_pricingtable06 ul li { margin: 0px; list-style: none !important; list-style-type: none !important;  } 
div.dc_pricingtable03 h1, div.dc_pricingtable03 h2, div.dc_pricingtable03 h3 { width: auto !important; }
h2.gap87 { text-align: left; }

@media only screen and (max-width: 767px) {
#webstore-navigation li { float:none !important; margin: 5px 0 0 0 !important;}
#catalogue .last-column > div { margin:5px 0 0 0 !important;}
#catalogue .product { float:none !important; width: auto !important;}
#webstore { min-width: auto !important;}
	}


.dc_iso_container .hero-unit { padding: 0px; margin: 0px; background: none; }
div.dc_pricingtable03 a.tooltip { display: inline !important; font-size: 12px !important; opacity: 1 !important; } 